.dark-theme {
          --neutral-bg: #151718;
  --neutral-bg-subtle: #1a1d1e;
  --neutral-container: #0025490e;
  --neutral-container-hover: #021c3713;
  --neutral-container-active: #02173519;
  --neutral-selected: #021c3713;
  --neutral-selected-hover: #02173519;
  --neutral-selected-active: #01213920;
  --neutral-border: #313538;
  --neutral-outline: #001a3328;
  --neutral-outline-hover: #011e323e;
  --neutral-bg-solid: #697177;
  --neutral-bg-solid-hover: #787f85;
  --neutral-text: #ecedee;
  --neutral-text-hover: #9ba1a6;
  --neutral-icon: #ecedee;
  --neutral-icon-hover: #9ba1a6;
  --primary-bg: #0f1720;
  --primary-bg-subtle: #0f1b2d;
  --primary-container: #0280ff12;
  --primary-container-hover: #0180ff1e;
  --primary-container-active: #0180ef30;
  --primary-selected: #0180ff1e;
  --primary-selected-hover: #0180ef30;
  --primary-selected-active: #0177e648;
  --primary-border: #0d3868;
  --primary-outline: #0077df69;
  --primary-outline-hover: #0082e6a1;
  --primary-bg-solid: #0091ff;
  --primary-bg-solid-hover: #369eff;
  --primary-text: #eaf6ff;
  --primary-text-hover: #52a9ff;
  --primary-icon: #eaf6ff;
  --primary-icon-hover: #52a9ff;
  --negative-bg: #1f1315;
  --negative-bg-subtle: #291415;
  --negative-container: #ff010110;
  --negative-container-hover: #ff00001a;
  --negative-container-active: #f2000027;
  --negative-selected: #ff00001a;
  --negative-selected-hover: #f2000027;
  --negative-selected-active: #e4010139;
  --negative-border: #671e22;
  --negative-outline: #d9000451;
  --negative-outline-hover: #d100046f;
  --negative-bg-solid: #e5484d;
  --negative-bg-solid-hover: #f2555a;
  --negative-text: #feecee;
  --negative-text-hover: #ff6369;
  --negative-icon: #feecee;
  --negative-icon-hover: #ff6369;
  --warning-bg: #1c1500;
  --warning-bg-subtle: #221a00;
  --warning-container: #ffea012e;
  --warning-container-hover: #ffe60144;
  --warning-container-active: #fcdb005b;
  --warning-selected: #ffe60144;
  --warning-selected-hover: #fcdb005b;
  --warning-selected-active: #f2c90073;
  --warning-border: #493c00;
  --warning-outline: #e3b20093;
  --warning-outline-hover: #ebbc00fa;
  --warning-bg-solid: #f5d90a;
  --warning-bg-solid-hover: #ffef5c;
  --warning-text: #fffad1;
  --warning-text-hover: #f0c000;
  --warning-icon: #fffad1;
  --warning-icon-hover: #f0c000;
  --positive-bg: #0d1912;
  --positive-bg-subtle: #0c1f17;
  --positive-container: #02ba3c16;
  --positive-container-hover: #01a63522;
  --positive-container-active: #009b3633;
  --positive-selected: #01a63522;
  --positive-selected-hover: #009b3633;
  --positive-selected-active: #0193364b;
  --positive-border: #164430;
  --positive-outline: #008c3d6d;
  --positive-outline-hover: #00934ca4;
  --positive-bg-solid: #30a46c;
  --positive-bg-solid-hover: #3cb179;
  --positive-text: #e5fbeb;
  --positive-text-hover: #4cc38a;
  --positive-icon: #e5fbeb;
  --positive-icon-hover: #4cc38a;
  --info-bg: #0f1720;
  --info-bg-subtle: #0f1b2d;
  --info-container: #0280ff12;
  --info-container-hover: #0180ff1e;
  --info-container-active: #0180ef30;
  --info-selected: #0180ff1e;
  --info-selected-hover: #0180ef30;
  --info-selected-active: #0177e648;
  --info-border: #0d3868;
  --info-outline: #0077df69;
  --info-outline-hover: #0082e6a1;
  --info-bg-solid: #0091ff;
  --info-bg-solid-hover: #369eff;
  --info-text: #eaf6ff;
  --info-text-hover: #52a9ff;
  --info-icon: #eaf6ff;
  --info-icon-hover: #52a9ff;
      }