.dark-theme {
          --neutral-text-default: #d6d3d1;
  --neutral-text-weak: #78716c;
  --neutral-text-strong: #fafaf9;
  --neutral-text-disabled: #44403c;
  --neutral-background-default: #1c1917;
  --neutral-background-medium: #292524;
  --neutral-background-strong: #a8a29e;
  --neutral-background-hover: #e7e5e41f;
  --neutral-background-active: #fafaf929;
  --neutral-border-default: #44403c;
  --neutral-border-strong: #57534e;
  --neutral-border-hover: #78716c;
  --neutral-border-active: #a8a29e;
  --neutral-icon-default: #a8a29e;
  --neutral-icon-hover: #f5f5f4;
  --success-text-default: #bef264;
  --success-text-weak: #84cc16;
  --success-text-strong: #f7fee7;
  --success-text-disabled: #4d7c0f;
  --success-background-default: #365314;
  --success-background-medium: #3f6212;
  --success-background-strong: #a3e635;
  --success-background-hover: #d9f99d1f;
  --success-background-active: #f7fee729;
  --success-border-default: #4d7c0f;
  --success-border-strong: #65a30d;
  --success-border-hover: #84cc16;
  --success-border-active: #a3e635;
  --success-icon-default: #a3e635;
  --success-icon-hover: #ecfccb;
  --warning-text-default: #fcd34d;
  --warning-text-weak: #f59e0b;
  --warning-text-strong: #fffbeb;
  --warning-text-disabled: #b45309;
  --warning-background-default: #78350f;
  --warning-background-medium: #92400e;
  --warning-background-strong: #fbbf24;
  --warning-background-hover: #fde68a1f;
  --warning-background-active: #fffbeb29;
  --warning-border-default: #b45309;
  --warning-border-strong: #d97706;
  --warning-border-hover: #f59e0b;
  --warning-border-active: #fbbf24;
  --warning-icon-default: #fbbf24;
  --warning-icon-hover: #fef3c7;
  --negative-text-default: #fda4af;
  --negative-text-weak: #f43f5e;
  --negative-text-strong: #fff1f2;
  --negative-text-disabled: #be123c;
  --negative-background-default: #881337;
  --negative-background-medium: #9f1239;
  --negative-background-strong: #fb7185;
  --negative-background-hover: #fecdd31f;
  --negative-background-active: #fff1f229;
  --negative-border-default: #be123c;
  --negative-border-strong: #e11d48;
  --negative-border-hover: #f43f5e;
  --negative-border-active: #fb7185;
  --negative-icon-default: #fb7185;
  --negative-icon-hover: #ffe4e6;
  --info-text-default: #93c5fd;
  --info-text-weak: #3b82f6;
  --info-text-strong: #eff6ff;
  --info-text-disabled: #1d4ed8;
  --info-background-default: #1e3a8a;
  --info-background-medium: #1e40af;
  --info-background-strong: #60a5fa;
  --info-background-hover: #bfdbfe1f;
  --info-background-active: #eff6ff29;
  --info-border-default: #1d4ed8;
  --info-border-strong: #2563eb;
  --info-border-hover: #3b82f6;
  --info-border-active: #60a5fa;
  --info-icon-default: #60a5fa;
  --info-icon-hover: #dbeafe;
      }