.dark-theme {
          --theme-neutral-bg: #151718;
  --theme-neutral-bg-subtle: #1a1d1e;
  --theme-neutral-container: #0025490e;
  --theme-neutral-container-hover: #021c3713;
  --theme-neutral-container-active: #02173519;
  --theme-neutral-selected: #021c3713;
  --theme-neutral-selected-hover: #02173519;
  --theme-neutral-selected-active: #01213920;
  --theme-neutral-border: #313538;
  --theme-neutral-outline: #001a3328;
  --theme-neutral-outline-hover: #011e323e;
  --theme-neutral-bg-solid: #697177;
  --theme-neutral-bg-solid-hover: #787f85;
  --theme-neutral-text: #ecedee;
  --theme-neutral-text-hover: #9ba1a6;
  --theme-neutral-icon: #ecedee;
  --theme-neutral-icon-hover: #9ba1a6;
  --theme-primary-bg: #0f1720;
  --theme-primary-bg-subtle: #0f1b2d;
  --theme-primary-container: #0280ff12;
  --theme-primary-container-hover: #0180ff1e;
  --theme-primary-container-active: #0180ef30;
  --theme-primary-selected: #0180ff1e;
  --theme-primary-selected-hover: #0180ef30;
  --theme-primary-selected-active: #0177e648;
  --theme-primary-border: #0d3868;
  --theme-primary-outline: #0077df69;
  --theme-primary-outline-hover: #0082e6a1;
  --theme-primary-bg-solid: #0091ff;
  --theme-primary-bg-solid-hover: #369eff;
  --theme-primary-text: #eaf6ff;
  --theme-primary-text-hover: #52a9ff;
  --theme-primary-icon: #eaf6ff;
  --theme-primary-icon-hover: #52a9ff;
  --theme-negative-bg: #1f1315;
  --theme-negative-bg-subtle: #291415;
  --theme-negative-container: #ff010110;
  --theme-negative-container-hover: #ff00001a;
  --theme-negative-container-active: #f2000027;
  --theme-negative-selected: #ff00001a;
  --theme-negative-selected-hover: #f2000027;
  --theme-negative-selected-active: #e4010139;
  --theme-negative-border: #671e22;
  --theme-negative-outline: #d9000451;
  --theme-negative-outline-hover: #d100046f;
  --theme-negative-bg-solid: #e5484d;
  --theme-negative-bg-solid-hover: #f2555a;
  --theme-negative-text: #feecee;
  --theme-negative-text-hover: #ff6369;
  --theme-negative-icon: #feecee;
  --theme-negative-icon-hover: #ff6369;
  --theme-warning-bg: #1c1500;
  --theme-warning-bg-subtle: #221a00;
  --theme-warning-container: #ffea012e;
  --theme-warning-container-hover: #ffe60144;
  --theme-warning-container-active: #fcdb005b;
  --theme-warning-selected: #ffe60144;
  --theme-warning-selected-hover: #fcdb005b;
  --theme-warning-selected-active: #f2c90073;
  --theme-warning-border: #493c00;
  --theme-warning-outline: #e3b20093;
  --theme-warning-outline-hover: #ebbc00fa;
  --theme-warning-bg-solid: #f5d90a;
  --theme-warning-bg-solid-hover: #ffef5c;
  --theme-warning-text: #fffad1;
  --theme-warning-text-hover: #f0c000;
  --theme-warning-icon: #fffad1;
  --theme-warning-icon-hover: #f0c000;
  --theme-positive-bg: #0d1912;
  --theme-positive-bg-subtle: #0c1f17;
  --theme-positive-container: #02ba3c16;
  --theme-positive-container-hover: #01a63522;
  --theme-positive-container-active: #009b3633;
  --theme-positive-selected: #01a63522;
  --theme-positive-selected-hover: #009b3633;
  --theme-positive-selected-active: #0193364b;
  --theme-positive-border: #164430;
  --theme-positive-outline: #008c3d6d;
  --theme-positive-outline-hover: #00934ca4;
  --theme-positive-bg-solid: #30a46c;
  --theme-positive-bg-solid-hover: #3cb179;
  --theme-positive-text: #e5fbeb;
  --theme-positive-text-hover: #4cc38a;
  --theme-positive-icon: #e5fbeb;
  --theme-positive-icon-hover: #4cc38a;
  --theme-info-bg: #0f1720;
  --theme-info-bg-subtle: #0f1b2d;
  --theme-info-container: #0280ff12;
  --theme-info-container-hover: #0180ff1e;
  --theme-info-container-active: #0180ef30;
  --theme-info-selected: #0180ff1e;
  --theme-info-selected-hover: #0180ef30;
  --theme-info-selected-active: #0177e648;
  --theme-info-border: #0d3868;
  --theme-info-outline: #0077df69;
  --theme-info-outline-hover: #0082e6a1;
  --theme-info-bg-solid: #0091ff;
  --theme-info-bg-solid-hover: #369eff;
  --theme-info-text: #eaf6ff;
  --theme-info-text-hover: #52a9ff;
  --theme-info-icon: #eaf6ff;
  --theme-info-icon-hover: #52a9ff;
  --theme-transparent-container: hsla(0, 0%, 100%, 0%);
      }