.global-theme {
          --colors-slate-50: #f8fafc;
  --colors-slate-100: #f1f5f9;
  --colors-slate-200: #e2e8f0;
  --colors-slate-300: #cbd5e1;
  --colors-slate-400: #94a3b8;
  --colors-slate-500: #64748b;
  --colors-slate-600: #475569;
  --colors-slate-700: #334155;
  --colors-slate-800: #1e293b;
  --colors-slate-900: #0f172a;
  --colors-gray-50: #f9fafb;
  --colors-gray-100: #f3f4f6;
  --colors-gray-200: #e5e7eb;
  --colors-gray-300: #d1d5db;
  --colors-gray-400: #9ca3af;
  --colors-gray-500: #6b7280;
  --colors-gray-600: #4b5563;
  --colors-gray-700: #374151;
  --colors-gray-800: #1f2937;
  --colors-gray-900: #111827;
  --colors-zinc-50: #fafafa;
  --colors-zinc-100: #f4f4f5;
  --colors-zinc-200: #e4e4e7;
  --colors-zinc-300: #d4d4d8;
  --colors-zinc-400: #a1a1aa;
  --colors-zinc-500: #71717a;
  --colors-zinc-600: #52525b;
  --colors-zinc-700: #3f3f46;
  --colors-zinc-800: #27272a;
  --colors-zinc-900: #18181b;
  --colors-neutral-50: #fafafa;
  --colors-neutral-100: #f5f5f5;
  --colors-neutral-200: #e5e5e5;
  --colors-neutral-300: #d4d4d4;
  --colors-neutral-400: #a3a3a3;
  --colors-neutral-500: #737373;
  --colors-neutral-600: #525252;
  --colors-neutral-700: #404040;
  --colors-neutral-800: #262626;
  --colors-neutral-900: #171717;
  --colors-stone-50: #fafaf9;
  --colors-stone-100: #f5f5f4;
  --colors-stone-200: #e7e5e4;
  --colors-stone-300: #d6d3d1;
  --colors-stone-400: #a8a29e;
  --colors-stone-500: #78716c;
  --colors-stone-600: #57534e;
  --colors-stone-700: #44403c;
  --colors-stone-800: #292524;
  --colors-stone-900: #1c1917;
  --colors-red-50: #fef2f2;
  --colors-red-100: #fee2e2;
  --colors-red-200: #fecaca;
  --colors-red-300: #fca5a5;
  --colors-red-400: #f87171;
  --colors-red-500: #ef4444;
  --colors-red-600: #dc2626;
  --colors-red-700: #b91c1c;
  --colors-red-800: #991b1b;
  --colors-red-900: #7f1d1d;
  --colors-orange-50: #fff7ed;
  --colors-orange-100: #ffedd5;
  --colors-orange-200: #fed7aa;
  --colors-orange-300: #fdba74;
  --colors-orange-400: #fb923c;
  --colors-orange-500: #f97316;
  --colors-orange-600: #ea580c;
  --colors-orange-700: #c2410c;
  --colors-orange-800: #9a3412;
  --colors-orange-900: #7c2d12;
  --colors-amber-50: #fffbeb;
  --colors-amber-100: #fef3c7;
  --colors-amber-200: #fde68a;
  --colors-amber-300: #fcd34d;
  --colors-amber-400: #fbbf24;
  --colors-amber-500: #f59e0b;
  --colors-amber-600: #d97706;
  --colors-amber-700: #b45309;
  --colors-amber-800: #92400e;
  --colors-amber-900: #78350f;
  --colors-yellow-50: #fefce8;
  --colors-yellow-100: #fef9c3;
  --colors-yellow-200: #fef08a;
  --colors-yellow-300: #fde047;
  --colors-yellow-400: #facc15;
  --colors-yellow-500: #eab308;
  --colors-yellow-600: #ca8a04;
  --colors-yellow-700: #a16207;
  --colors-yellow-800: #854d0e;
  --colors-yellow-900: #713f12;
  --colors-lime-50: #f7fee7;
  --colors-lime-100: #ecfccb;
  --colors-lime-200: #d9f99d;
  --colors-lime-300: #bef264;
  --colors-lime-400: #a3e635;
  --colors-lime-500: #84cc16;
  --colors-lime-600: #65a30d;
  --colors-lime-700: #4d7c0f;
  --colors-lime-800: #3f6212;
  --colors-lime-900: #365314;
  --colors-green-50: #f0fdf4;
  --colors-green-100: #dcfce7;
  --colors-green-200: #bbf7d0;
  --colors-green-300: #86efac;
  --colors-green-400: #4ade80;
  --colors-green-500: #22c55e;
  --colors-green-600: #16a34a;
  --colors-green-700: #15803d;
  --colors-green-800: #166534;
  --colors-green-900: #14532d;
  --colors-emerald-50: #ecfdf5;
  --colors-emerald-100: #d1fae5;
  --colors-emerald-200: #a7f3d0;
  --colors-emerald-300: #6ee7b7;
  --colors-emerald-400: #34d399;
  --colors-emerald-500: #10b981;
  --colors-emerald-600: #059669;
  --colors-emerald-700: #047857;
  --colors-emerald-800: #065f46;
  --colors-emerald-900: #064e3b;
  --colors-teal-50: #f0fdfa;
  --colors-teal-100: #ccfbf1;
  --colors-teal-200: #99f6e4;
  --colors-teal-300: #5eead4;
  --colors-teal-400: #2dd4bf;
  --colors-teal-500: #14b8a6;
  --colors-teal-600: #0d9488;
  --colors-teal-700: #0f766e;
  --colors-teal-800: #115e59;
  --colors-teal-900: #134e4a;
  --colors-cyan-50: #ecfeff;
  --colors-cyan-100: #cffafe;
  --colors-cyan-200: #a5f3fc;
  --colors-cyan-300: #67e8f9;
  --colors-cyan-400: #22d3ee;
  --colors-cyan-500: #06b6d4;
  --colors-cyan-600: #0891b2;
  --colors-cyan-700: #0e7490;
  --colors-cyan-800: #155e75;
  --colors-cyan-900: #164e63;
  --colors-sky-50: #f0f9ff;
  --colors-sky-100: #e0f2fe;
  --colors-sky-200: #bae6fd;
  --colors-sky-300: #7dd3fc;
  --colors-sky-400: #38bdf8;
  --colors-sky-500: #0ea5e9;
  --colors-sky-600: #0284c7;
  --colors-sky-700: #0369a1;
  --colors-sky-800: #075985;
  --colors-sky-900: #0c4a6e;
  --colors-blue-50: #eff6ff;
  --colors-blue-100: #dbeafe;
  --colors-blue-200: #bfdbfe;
  --colors-blue-300: #93c5fd;
  --colors-blue-400: #60a5fa;
  --colors-blue-500: #3b82f6;
  --colors-blue-600: #2563eb;
  --colors-blue-700: #1d4ed8;
  --colors-blue-800: #1e40af;
  --colors-blue-900: #1e3a8a;
  --colors-indigo-50: #eef2ff;
  --colors-indigo-100: #e0e7ff;
  --colors-indigo-200: #c7d2fe;
  --colors-indigo-300: #a5b4fc;
  --colors-indigo-400: #818cf8;
  --colors-indigo-500: #6366f1;
  --colors-indigo-600: #4f46e5;
  --colors-indigo-700: #4338ca;
  --colors-indigo-800: #3730a3;
  --colors-indigo-900: #312e81;
  --colors-violet-50: #f5f3ff;
  --colors-violet-100: #ede9fe;
  --colors-violet-200: #ddd6fe;
  --colors-violet-300: #c4b5fd;
  --colors-violet-400: #a78bfa;
  --colors-violet-500: #8b5cf6;
  --colors-violet-600: #7c3aed;
  --colors-violet-700: #6d28d9;
  --colors-violet-800: #5b21b6;
  --colors-violet-900: #4c1d95;
  --colors-purple-50: #faf5ff;
  --colors-purple-100: #f3e8ff;
  --colors-purple-200: #e9d5ff;
  --colors-purple-300: #d8b4fe;
  --colors-purple-400: #c084fc;
  --colors-purple-500: #a855f7;
  --colors-purple-600: #9333ea;
  --colors-purple-700: #7e22ce;
  --colors-purple-800: #6b21a8;
  --colors-purple-900: #581c87;
  --colors-fuchsia-50: #fdf4ff;
  --colors-fuchsia-100: #fae8ff;
  --colors-fuchsia-200: #f5d0fe;
  --colors-fuchsia-300: #f0abfc;
  --colors-fuchsia-400: #e879f9;
  --colors-fuchsia-500: #d946ef;
  --colors-fuchsia-600: #c026d3;
  --colors-fuchsia-700: #a21caf;
  --colors-fuchsia-800: #86198f;
  --colors-fuchsia-900: #701a75;
  --colors-pink-50: #fdf2f8;
  --colors-pink-100: #fce7f3;
  --colors-pink-200: #fbcfe8;
  --colors-pink-300: #f9a8d4;
  --colors-pink-400: #f472b6;
  --colors-pink-500: #ec4899;
  --colors-pink-600: #db2777;
  --colors-pink-700: #be185d;
  --colors-pink-800: #9d174d;
  --colors-pink-900: #831843;
  --colors-rose-50: #fff1f2;
  --colors-rose-100: #ffe4e6;
  --colors-rose-200: #fecdd3;
  --colors-rose-300: #fda4af;
  --colors-rose-400: #fb7185;
  --colors-rose-500: #f43f5e;
  --colors-rose-600: #e11d48;
  --colors-rose-700: #be123c;
  --colors-rose-800: #9f1239;
  --colors-rose-900: #881337;
  --colors-white-5: #ffffff0d;
  --colors-white-10: #ffffff1a;
  --colors-white-20: #ffffff33;
  --colors-white-30: #ffffff4d;
  --colors-white-40: #ffffff66;
  --colors-white-50: #ffffff80;
  --colors-white-60: #ffffff99;
  --colors-white-70: #ffffffb3;
  --colors-white-80: #ffffffcc;
  --colors-white-90: #ffffffe6;
  --colors-white-100: #ffffff;
  --colors-black-5: #1212120d;
  --colors-black-10: #1212121a;
  --colors-black-20: #12121233;
  --colors-black-30: #1212124d;
  --colors-black-40: #12121266;
  --colors-black-50: #12121280;
  --colors-black-60: #12121299;
  --colors-black-70: #121212b3;
  --colors-black-80: #121212cc;
  --colors-black-90: #121212e6;
  --colors-black-100: #121212;
  --colors-gradient-default: linear-gradient(90deg, #121212 0%, #ffffff 100%);
  --colors-gradient-multi-color: linear-gradient(90deg, #6366f1 0%, #c303b2 33.33%, #ec0077 66.67%, #f43f5e 100%);
  --colors-gradient-overlay: linear-gradient(180deg, #1212121a 0%, #12121280 100%);
  --pass-thought-3: 0.03;
  --pass-thought-4: 0.04;
  --pass-thought-6: 0.06;
  --pass-thought-8: 0.08;
  --pass-thought-10: 0.1;
  --pass-thought-12: 0.12;
  --pass-thought-16: 0.16;
  --pass-thought-20: 0.2;
  --pass-thought-24: 0.24;
  --pass-thought-28: 0.28;
  --pass-thought-30: 0.3;
  --pass-thought-32: 0.32;
  --pass-thought-36: 0.36;
  --pass-thought-40: 0.4;
  --pass-thought-44: 0.44;
  --pass-thought-48: 0.48;
  --pass-thought-50: 0.5;
  --pass-thought-52: 0.52;
  --pass-thought-56: 0.56;
  --pass-thought-60: 0.6;
  --pass-thought-64: 0.64;
  --pass-thought-68: 0.68;
  --pass-thought-70: 0.7;
  --pass-thought-72: 0.72;
  --pass-thought-76: 0.76;
  --pass-thought-80: 0.8;
  --pass-thought-84: 0.84;
  --pass-thought-88: 0.88;
  --pass-thought-90: 0.9;
  --pass-thought-92: 0.92;
  --pass-thought-96: 0.96;
  --pass-thought-100: 1;
  --effect-shadow-sm: [object Object];
  --effect-shadow: [object Object],[object Object];
  --effect-shadow-md: [object Object],[object Object];
  --effect-shadow-lg: [object Object],[object Object];
  --effect-shadow-xl: [object Object],[object Object];
  --effect-shadow-2xl: [object Object];
  --effect-shadow-inner: [object Object];
  --rounded-0: 0;
  --rounded-2: 2;
  --rounded-4: 4;
  --rounded-8: 8;
  --rounded-16: 16;
  --rounded-32: 32;
  --rounded-96: 96;
  --white-space-4: 4;
  --white-space-8: 8;
  --white-space-16: 16;
  --white-space-32: 32;
  --white-space-64: 64;
  --sizing-4: 4;
  --sizing-8: 8;
  --sizing-16: 16;
  --sizing-32: 32;
  --sizing-64: 64;
  --sizing-128: 128;
  --sizing-256: 256;
  --line-height-100: 100%;
  --line-height-115: 115%;
  --line-height-120: 120%;
  --line-height-125: 125%;
  --line-height-135: 135%;
  --line-height-140: 140%;
  --line-height-150: 150%;
  --line-height-160: 160%;
  --line-height-200: 200%;
  --font-weight-100: Thin;
  --font-weight-200: Extra Light;
  --font-weight-300: Light;
  --font-weight-400: Regular;
  --font-weight-500: Medium;
  --font-weight-600: Semi Bold;
  --font-weight-700: Bold;
  --font-weight-800: Extra Bold;
  --font-weight-900: Black;
  --font-weight-950: Extra Black;
  --font-family-sans: Inter;
  --font-family-mono: JetBrains Mono;
  --font-size-4: 4;
  --font-size-6: 6;
  --font-size-8: 8;
  --font-size-10: 10;
  --font-size-11: 11;
  --font-size-12: 12;
  --font-size-13: 13;
  --font-size-14: 14;
  --font-size-15: 15;
  --font-size-16: 16;
  --font-size-17: 17;
  --font-size-18: 18;
  --font-size-19: 19;
  --font-size-20: 20;
  --font-size-22: 22;
  --font-size-24: 24;
  --font-size-26: 26;
  --font-size-28: 28;
  --font-size-30: 30;
  --font-size-32: 32;
  --font-size-36: 36;
  --font-size-38: 38;
  --font-size-40: 40;
  --font-size-42: 42;
  --font-size-44: 44;
  --font-size-48: 48;
  --font-size-50: 50;
  --font-size-54: 54;
  --font-size-64: 64;
  --font-size-66: 66;
  --font-size-68: 68;
  --font-size-80: 80;
  --font-size-90: 90;
  --font-size-110: 110;
  --font-size-122: 122;
  --font-size-176: 176;
  --border-width-0: 0;
  --border-width-1: 1;
  --border-width-2: 2;
  --border-width-4: 4;
  --border-width-8: 8;
  --text-decoration-underline: underline;
  --text-decoration-line-through: line-through;
  --text-decoration-no-underline: none;
  --font-spacing-tighter: -0.8px;
  --font-spacing-tight: -0.4px;
  --font-spacing-compact: -0.2px;
  --font-spacing-normal: 0px;
  --font-spacing-wide: 0.4px;
  --font-spacing-wider: 0.8px;
  --font-spacing-widest: 1.6px;
  --font-transform-uppercase: uppercase;
  --font-transform-lowercase: lowercase;
  --font-transform-capitalize: capitalize;
  --font-transform-normalcase: none;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-12: 12;
  --paragraph-spacing-14: 14;
  --paragraph-spacing-16: 16;
  --ui-text-h1: [object Object];
  --ui-text-h2: [object Object];
  --ui-text-h3: [object Object];
  --ui-text-h4: [object Object];
  --ui-text-h5: [object Object];
  --ui-text-h6: [object Object];
  --ui-text-body-lg: [object Object];
  --ui-text-body: [object Object];
  --ui-text-body-sm: [object Object];
  --style-h90: [object Object];
  --style-h80: [object Object];
  --style-h70: [object Object];
  --style-h60: [object Object];
  --style-h55: [object Object];
  --style-h50: [object Object];
  --style-h40: [object Object];
  --style-h30: [object Object];
  --style-h20: [object Object];
  --style-h10: [object Object];
      }