.global-theme {
          --palettes-tomato-1: #fffcfc;
  --palettes-tomato-2: #fff8f7;
  --palettes-tomato-3: #fff0ee;
  --palettes-tomato-4: #ffe6e2;
  --palettes-tomato-5: #fdd8d3;
  --palettes-tomato-6: #fac7be;
  --palettes-tomato-7: #f3b0a2;
  --palettes-tomato-8: #ea9280;
  --palettes-tomato-9: #e54d2e;
  --palettes-tomato-10: #db4324;
  --palettes-tomato-11: #ca3214;
  --palettes-tomato-12: #341711;
  --palettes-tomato-a-a1: #ff050503;
  --palettes-tomato-a-a2: #ff260508;
  --palettes-tomato-a-a3: #ff1f0111;
  --palettes-tomato-a-a4: #ff22011d;
  --palettes-tomato-a-a5: #f41d012c;
  --palettes-tomato-a-a6: #ec230041;
  --palettes-tomato-a-a7: #de25005d;
  --palettes-tomato-a-a8: #d524017f;
  --palettes-tomato-a-a9: #df2500d1;
  --palettes-tomato-a-a10: #d52400db;
  --palettes-tomato-a-a11: #c62100eb;
  --palettes-tomato-a-a12: #260600ee;
  --palettes-tomato-dark-1: #1d1412;
  --palettes-tomato-dark-2: #2a1410;
  --palettes-tomato-dark-3: #3b1813;
  --palettes-tomato-dark-4: #481a14;
  --palettes-tomato-dark-5: #541c15;
  --palettes-tomato-dark-6: #652016;
  --palettes-tomato-dark-7: #7f2315;
  --palettes-tomato-dark-8: #a42a12;
  --palettes-tomato-dark-9: #e54d2e;
  --palettes-tomato-dark-10: #ec5e41;
  --palettes-tomato-dark-11: #f16a50;
  --palettes-tomato-dark-12: #feefec;
  --palettes-tomato-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-tomato-dark-a-a2: #fd15000f;
  --palettes-tomato-dark-a-a3: #ff301922;
  --palettes-tomato-dark-a-a4: #fe331c31;
  --palettes-tomato-dark-a-a5: #fe351e3e;
  --palettes-tomato-dark-a-a6: #ff391e51;
  --palettes-tomato-dark-a-a7: #ff37196f;
  --palettes-tomato-dark-a-a8: #ff3a1298;
  --palettes-tomato-dark-a-a9: #ff5431e2;
  --palettes-tomato-dark-a-a10: #ff6445ea;
  --palettes-tomato-dark-a-a11: #ff7054ef;
  --palettes-tomato-dark-a-a12: #fff3f0fa;
  --palettes-red-1: #fffcfc;
  --palettes-red-2: #fff8f8;
  --palettes-red-3: #ffefef;
  --palettes-red-4: #ffe5e5;
  --palettes-red-5: #fdd8d8;
  --palettes-red-6: #f9c6c6;
  --palettes-red-7: #f3aeaf;
  --palettes-red-8: #eb9091;
  --palettes-red-9: #e5484d;
  --palettes-red-10: #dc3d43;
  --palettes-red-11: #cd2b31;
  --palettes-red-12: #381316;
  --palettes-red-a-a1: #ff050503;
  --palettes-red-a-a2: #ff050508;
  --palettes-red-a-a3: #ff010110;
  --palettes-red-a-a4: #ff00001a;
  --palettes-red-a-a5: #f2000027;
  --palettes-red-a-a6: #e4010139;
  --palettes-red-a-a7: #d9000451;
  --palettes-red-a-a8: #d100046f;
  --palettes-red-a-a9: #db0007b7;
  --palettes-red-a-a10: #d10007c2;
  --palettes-red-a-a11: #c30007d4;
  --palettes-red-a-a12: #280003ec;
  --palettes-red-dark-1: #1f1315;
  --palettes-red-dark-2: #291415;
  --palettes-red-dark-3: #3c181a;
  --palettes-red-dark-4: #481a1d;
  --palettes-red-dark-5: #541b1f;
  --palettes-red-dark-6: #671e22;
  --palettes-red-dark-7: #822025;
  --palettes-red-dark-8: #aa2429;
  --palettes-red-dark-9: #e5484d;
  --palettes-red-dark-10: #f2555a;
  --palettes-red-dark-11: #ff6369;
  --palettes-red-dark-12: #feecee;
  --palettes-red-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-red-dark-a-a2: #fd28150b;
  --palettes-red-dark-a-a3: #fe3a3d21;
  --palettes-red-dark-a-a4: #fe39402f;
  --palettes-red-dark-a-a5: #ff353f3c;
  --palettes-red-dark-a-a6: #ff353c52;
  --palettes-red-dark-a-a7: #ff303b71;
  --palettes-red-dark-a-a8: #ff2f369e;
  --palettes-red-dark-a-a9: #ff4f55e1;
  --palettes-red-dark-a-a10: #ff595ff0;
  --palettes-red-dark-a-a11: #ff646afa;
  --palettes-red-dark-a-a12: #fff0f2fa;
  --palettes-crimson-1: #fffcfd;
  --palettes-crimson-2: #fff7fb;
  --palettes-crimson-3: #feeff6;
  --palettes-crimson-4: #fce5f0;
  --palettes-crimson-5: #f9d8e7;
  --palettes-crimson-6: #f4c6db;
  --palettes-crimson-7: #edadc8;
  --palettes-crimson-8: #e58fb1;
  --palettes-crimson-9: #e93d82;
  --palettes-crimson-10: #e03177;
  --palettes-crimson-11: #d31e66;
  --palettes-crimson-12: #3d0d1d;
  --palettes-crimson-a-a1: #ff055803;
  --palettes-crimson-a-a2: #ff058208;
  --palettes-crimson-a-a3: #ef017010;
  --palettes-crimson-a-a4: #e2006d1a;
  --palettes-crimson-a-a5: #d8006127;
  --palettes-crimson-a-a6: #ce015d39;
  --palettes-crimson-a-a7: #c7005352;
  --palettes-crimson-a-a8: #c4004f70;
  --palettes-crimson-a-a9: #e2005ac2;
  --palettes-crimson-a-a10: #d90057ce;
  --palettes-crimson-a-a11: #cd0052e1;
  --palettes-crimson-a-a12: #330011f2;
  --palettes-crimson-dark-1: #1d1418;
  --palettes-crimson-dark-2: #27141c;
  --palettes-crimson-dark-3: #3c1827;
  --palettes-crimson-dark-4: #481a2d;
  --palettes-crimson-dark-5: #541b33;
  --palettes-crimson-dark-6: #641d3b;
  --palettes-crimson-dark-7: #801d45;
  --palettes-crimson-dark-8: #ae1955;
  --palettes-crimson-dark-9: #e93d82;
  --palettes-crimson-dark-10: #f04f88;
  --palettes-crimson-dark-11: #f76190;
  --palettes-crimson-dark-12: #feecf4;
  --palettes-crimson-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-crimson-dark-a-a2: #fb14710b;
  --palettes-crimson-dark-a-a3: #fe318623;
  --palettes-crimson-dark-a-a4: #fe338431;
  --palettes-crimson-dark-a-a5: #fe31863e;
  --palettes-crimson-dark-a-a6: #fe318650;
  --palettes-crimson-dark-a-a7: #fe287e70;
  --palettes-crimson-dark-a-a8: #ff1c77a4;
  --palettes-crimson-dark-a-a9: #ff418de6;
  --palettes-crimson-dark-a-a10: #ff538fee;
  --palettes-crimson-dark-a-a11: #ff6495f6;
  --palettes-crimson-dark-a-a12: #fff0f8fa;
  --palettes-pink-1: #fffcfe;
  --palettes-pink-2: #fff7fc;
  --palettes-pink-3: #feeef8;
  --palettes-pink-4: #fce5f3;
  --palettes-pink-5: #f9d8ec;
  --palettes-pink-6: #f3c6e2;
  --palettes-pink-7: #ecadd4;
  --palettes-pink-8: #e38ec3;
  --palettes-pink-9: #d6409f;
  --palettes-pink-10: #d23197;
  --palettes-pink-11: #cd1d8d;
  --palettes-pink-12: #3b0a2a;
  --palettes-pink-a-a1: #ff05ac03;
  --palettes-pink-a-a2: #ff059f08;
  --palettes-pink-a-a3: #f0019411;
  --palettes-pink-a-a4: #e2008b1a;
  --palettes-pink-a-a5: #d8008127;
  --palettes-pink-a-a6: #c9017c39;
  --palettes-pink-a-a7: #c4007952;
  --palettes-pink-a-a8: #c0007671;
  --palettes-pink-a-a9: #c8007fbf;
  --palettes-pink-a-a10: #c7007ece;
  --palettes-pink-a-a11: #c7007ee2;
  --palettes-pink-a-a12: #330021f5;
  --palettes-pink-dark-1: #1f121b;
  --palettes-pink-dark-2: #271421;
  --palettes-pink-dark-3: #3a182f;
  --palettes-pink-dark-4: #451a37;
  --palettes-pink-dark-5: #501b3f;
  --palettes-pink-dark-6: #601d48;
  --palettes-pink-dark-7: #7a1d5a;
  --palettes-pink-dark-8: #a71873;
  --palettes-pink-dark-9: #d6409f;
  --palettes-pink-dark-10: #e34ba9;
  --palettes-pink-dark-11: #f65cb6;
  --palettes-pink-dark-12: #feebf7;
  --palettes-pink-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-pink-dark-a-a2: #fd4ac109;
  --palettes-pink-dark-a-a3: #fe44c01f;
  --palettes-pink-dark-a-a4: #ff41bf2b;
  --palettes-pink-dark-a-a5: #ff3bc138;
  --palettes-pink-dark-a-a6: #fe38b64a;
  --palettes-pink-dark-a-a7: #ff2db568;
  --palettes-pink-dark-a-a8: #ff1cac9b;
  --palettes-pink-dark-a-a9: #ff4abdd0;
  --palettes-pink-dark-a-a10: #ff53bddf;
  --palettes-pink-dark-a-a11: #ff5fbcf5;
  --palettes-pink-dark-a-a12: #ffeffbfa;
  --palettes-plum-1: #fefcff;
  --palettes-plum-2: #fff8ff;
  --palettes-plum-3: #fceffc;
  --palettes-plum-4: #f9e5f9;
  --palettes-plum-5: #f3d9f4;
  --palettes-plum-6: #ebc8ed;
  --palettes-plum-7: #dfafe3;
  --palettes-plum-8: #cf91d8;
  --palettes-plum-9: #ab4aba;
  --palettes-plum-10: #a43cb4;
  --palettes-plum-11: #9c2bad;
  --palettes-plum-12: #340c3b;
  --palettes-plum-a-a1: #ac05ff03;
  --palettes-plum-a-a2: #ff05ff07;
  --palettes-plum-a-a3: #d001d010;
  --palettes-plum-a-a4: #c400c41a;
  --palettes-plum-a-a5: #af02b526;
  --palettes-plum-a-a6: #a300ac37;
  --palettes-plum-a-a7: #9800a650;
  --palettes-plum-a-a8: #8f00a56e;
  --palettes-plum-a-a9: #89009eb5;
  --palettes-plum-a-a10: #88009dc3;
  --palettes-plum-a-a11: #88009cd4;
  --palettes-plum-a-a12: #2a0031f3;
  --palettes-plum-dark-1: #1d131d;
  --palettes-plum-dark-2: #251425;
  --palettes-plum-dark-3: #341a34;
  --palettes-plum-dark-4: #3e1d40;
  --palettes-plum-dark-5: #48214b;
  --palettes-plum-dark-6: #542658;
  --palettes-plum-dark-7: #692d6f;
  --palettes-plum-dark-8: #883894;
  --palettes-plum-dark-9: #ab4aba;
  --palettes-plum-dark-10: #bd54c6;
  --palettes-plum-dark-11: #d864d8;
  --palettes-plum-dark-12: #fbecfc;
  --palettes-plum-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-plum-dark-a-a2: #fb2ffb09;
  --palettes-plum-dark-a-a3: #fe58fe1a;
  --palettes-plum-dark-a-a4: #f153ff28;
  --palettes-plum-dark-a-a5: #f158fe34;
  --palettes-plum-dark-a-a6: #ee5cfe43;
  --palettes-plum-dark-a-a7: #ee5aff5d;
  --palettes-plum-dark-a-a8: #e959ff86;
  --palettes-plum-dark-a-a9: #ea62ffb1;
  --palettes-plum-dark-a-a10: #f36affbf;
  --palettes-plum-dark-a-a11: #ff75ffd3;
  --palettes-plum-dark-a-a12: #fff0fffa;
  --palettes-purple-1: #fefcfe;
  --palettes-purple-2: #fdfaff;
  --palettes-purple-3: #f9f1fe;
  --palettes-purple-4: #f3e7fc;
  --palettes-purple-5: #eddbf9;
  --palettes-purple-6: #e3ccf4;
  --palettes-purple-7: #d3b4ed;
  --palettes-purple-8: #be93e4;
  --palettes-purple-9: #8e4ec6;
  --palettes-purple-10: #8445bc;
  --palettes-purple-11: #793aaf;
  --palettes-purple-12: #2b0e44;
  --palettes-purple-a-a1: #ab05ab03;
  --palettes-purple-a-a2: #9b05ff05;
  --palettes-purple-a-a3: #9200ed0e;
  --palettes-purple-a-a4: #8002e018;
  --palettes-purple-a-a5: #8001d524;
  --palettes-purple-a-a6: #7500c833;
  --palettes-purple-a-a7: #6b01c24b;
  --palettes-purple-a-a8: #6600bf6c;
  --palettes-purple-a-a9: #5c00adb1;
  --palettes-purple-a-a10: #5700a3ba;
  --palettes-purple-a-a11: #510097c5;
  --palettes-purple-a-a12: #1f0039f1;
  --palettes-purple-dark-1: #1b141d;
  --palettes-purple-dark-2: #221527;
  --palettes-purple-dark-3: #301a3a;
  --palettes-purple-dark-4: #3a1e48;
  --palettes-purple-dark-5: #432155;
  --palettes-purple-dark-6: #4e2667;
  --palettes-purple-dark-7: #5f2d84;
  --palettes-purple-dark-8: #7938b2;
  --palettes-purple-dark-9: #8e4ec6;
  --palettes-purple-dark-10: #9d5bd2;
  --palettes-purple-dark-11: #bf7af0;
  --palettes-purple-dark-12: #f7ecfc;
  --palettes-purple-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-purple-dark-a-a2: #b52afb0b;
  --palettes-purple-dark-a-a3: #bc43fe21;
  --palettes-purple-dark-a-a4: #be48fe31;
  --palettes-purple-dark-a-a5: #bc49ff3f;
  --palettes-purple-dark-a-a6: #b74bff54;
  --palettes-purple-dark-a-a7: #b14bff74;
  --palettes-purple-dark-a-a8: #ab4bffa8;
  --palettes-purple-dark-a-a9: #b561ffbf;
  --palettes-purple-dark-a-a10: #bd6dffcc;
  --palettes-purple-dark-a-a11: #cb81ffee;
  --palettes-purple-dark-a-a12: #fcf0fffa;
  --palettes-violet-1: #fdfcfe;
  --palettes-violet-2: #fbfaff;
  --palettes-violet-3: #f5f2ff;
  --palettes-violet-4: #ede9fe;
  --palettes-violet-5: #e4defc;
  --palettes-violet-6: #d7cff9;
  --palettes-violet-7: #c4b8f3;
  --palettes-violet-8: #aa99ec;
  --palettes-violet-9: #6e56cf;
  --palettes-violet-10: #644fc1;
  --palettes-violet-11: #5746af;
  --palettes-violet-12: #20134b;
  --palettes-violet-a-a1: #5805ab03;
  --palettes-violet-a-a2: #3705ff05;
  --palettes-violet-a-a3: #3c00ff0d;
  --palettes-violet-a-a4: #2e02f416;
  --palettes-violet-a-a5: #2f01e821;
  --palettes-violet-a-a6: #2a01df30;
  --palettes-violet-a-a7: #2b01d447;
  --palettes-violet-a-a8: #2a00d066;
  --palettes-violet-a-a9: #2500b6a9;
  --palettes-violet-a-a10: #1f00a5b0;
  --palettes-violet-a-a11: #180091b9;
  --palettes-violet-a-a12: #0e003dec;
  --palettes-violet-dark-1: #17151f;
  --palettes-violet-dark-2: #1c172b;
  --palettes-violet-dark-3: #251e40;
  --palettes-violet-dark-4: #2c2250;
  --palettes-violet-dark-5: #32275f;
  --palettes-violet-dark-6: #392c72;
  --palettes-violet-dark-7: #443592;
  --palettes-violet-dark-8: #5842c3;
  --palettes-violet-dark-9: #6e56cf;
  --palettes-violet-dark-10: #7c66dc;
  --palettes-violet-dark-11: #9e8cfc;
  --palettes-violet-dark-12: #f1eefe;
  --palettes-violet-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-violet-dark-a-a2: #743afd0e;
  --palettes-violet-dark-a-a3: #7452fe26;
  --palettes-violet-dark-a-a4: #7650ff38;
  --palettes-violet-dark-a-a5: #7654ff49;
  --palettes-violet-dark-a-a6: #7253ff5f;
  --palettes-violet-dark-a-a7: #7053ff83;
  --palettes-violet-dark-a-a8: #6f52ffbb;
  --palettes-violet-dark-a-a9: #8668ffc8;
  --palettes-violet-dark-a-a10: #8e75ffd7;
  --palettes-violet-dark-a-a11: #a18efffa;
  --palettes-violet-dark-a-a12: #f5f2fffa;
  --palettes-indigo-1: #fdfdfe;
  --palettes-indigo-2: #f8faff;
  --palettes-indigo-3: #f0f4ff;
  --palettes-indigo-4: #e6edfe;
  --palettes-indigo-5: #d9e2fc;
  --palettes-indigo-6: #c6d4f9;
  --palettes-indigo-7: #aec0f5;
  --palettes-indigo-8: #8da4ef;
  --palettes-indigo-9: #3e63dd;
  --palettes-indigo-10: #3a5ccc;
  --palettes-indigo-11: #3451b2;
  --palettes-indigo-12: #101d46;
  --palettes-indigo-a-a1: #05058202;
  --palettes-indigo-a-a2: #054cff07;
  --palettes-indigo-a-a3: #0144ff0f;
  --palettes-indigo-a-a4: #0247f519;
  --palettes-indigo-a-a5: #023ceb26;
  --palettes-indigo-a-a6: #013de439;
  --palettes-indigo-a-a7: #0038e051;
  --palettes-indigo-a-a8: #0134db72;
  --palettes-indigo-a-a9: #0031d2c1;
  --palettes-indigo-a-a10: #002cbdc5;
  --palettes-indigo-a-a11: #00259ecb;
  --palettes-indigo-a-a12: #000e3aef;
  --palettes-indigo-dark-1: #131620;
  --palettes-indigo-dark-2: #15192d;
  --palettes-indigo-dark-3: #192140;
  --palettes-indigo-dark-4: #1c274f;
  --palettes-indigo-dark-5: #1f2c5c;
  --palettes-indigo-dark-6: #22346e;
  --palettes-indigo-dark-7: #273e89;
  --palettes-indigo-dark-8: #2f4eb2;
  --palettes-indigo-dark-9: #3e63dd;
  --palettes-indigo-dark-10: #5373e7;
  --palettes-indigo-dark-11: #849dff;
  --palettes-indigo-dark-12: #eef1fd;
  --palettes-indigo-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-indigo-dark-a-a2: #3549fc0f;
  --palettes-indigo-dark-a-a3: #3c63fe25;
  --palettes-indigo-dark-a-a4: #3d67ff36;
  --palettes-indigo-dark-a-a5: #3f69fe45;
  --palettes-indigo-dark-a-a6: #3e6bff59;
  --palettes-indigo-dark-a-a7: #3d6aff78;
  --palettes-indigo-dark-a-a8: #3e6bffa7;
  --palettes-indigo-dark-a-a9: #4571ffd8;
  --palettes-indigo-dark-a-a10: #5a7effe4;
  --palettes-indigo-dark-a-a11: #86a0fffa;
  --palettes-indigo-dark-a-a12: #f2f5fffa;
  --palettes-blue-1: #fbfdff;
  --palettes-blue-2: #f5faff;
  --palettes-blue-3: #edf6ff;
  --palettes-blue-4: #e1f0ff;
  --palettes-blue-5: #cee7fe;
  --palettes-blue-6: #b7d9f8;
  --palettes-blue-7: #96c7f2;
  --palettes-blue-8: #5eb0ef;
  --palettes-blue-9: #0091ff;
  --palettes-blue-10: #0081f1;
  --palettes-blue-11: #006adc;
  --palettes-blue-12: #00254d;
  --palettes-blue-a-a1: #0582ff04;
  --palettes-blue-a-a2: #0582ff0a;
  --palettes-blue-a-a3: #0280ff12;
  --palettes-blue-a-a4: #0180ff1e;
  --palettes-blue-a-a5: #0180ef30;
  --palettes-blue-a-a6: #0177e648;
  --palettes-blue-a-a7: #0077df69;
  --palettes-blue-a-a8: #0082e6a1;
  --palettes-blue-a-a9: #0091fffa;
  --palettes-blue-a-a10: #0080f1fa;
  --palettes-blue-a-a11: #0066dbfa;
  --palettes-blue-a-a12: #002149fa;
  --palettes-blue-dark-1: #0f1720;
  --palettes-blue-dark-2: #0f1b2d;
  --palettes-blue-dark-3: #10243e;
  --palettes-blue-dark-4: #102a4c;
  --palettes-blue-dark-5: #0f3058;
  --palettes-blue-dark-6: #0d3868;
  --palettes-blue-dark-7: #0a4481;
  --palettes-blue-dark-8: #0954a5;
  --palettes-blue-dark-9: #0091ff;
  --palettes-blue-dark-10: #369eff;
  --palettes-blue-dark-11: #52a9ff;
  --palettes-blue-dark-12: #eaf6ff;
  --palettes-blue-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-blue-dark-a-a2: #0f5afc0f;
  --palettes-blue-dark-a-a3: #1677fe22;
  --palettes-blue-dark-a-a4: #1476fe32;
  --palettes-blue-dark-a-a5: #0f7bfe40;
  --palettes-blue-dark-a-a6: #097cff52;
  --palettes-blue-dark-a-a7: #047dff6f;
  --palettes-blue-dark-a-a8: #057eff98;
  --palettes-blue-dark-a-a9: #0095fffa;
  --palettes-blue-dark-a-a10: #37a1fffa;
  --palettes-blue-dark-a-a11: #53acfffa;
  --palettes-blue-dark-a-a12: #effbfffa;
  --palettes-cyan-1: #fafdfe;
  --palettes-cyan-2: #f2fcfd;
  --palettes-cyan-3: #e7f9fb;
  --palettes-cyan-4: #d8f3f6;
  --palettes-cyan-5: #c4eaef;
  --palettes-cyan-6: #aadee6;
  --palettes-cyan-7: #84cdda;
  --palettes-cyan-8: #3db9cf;
  --palettes-cyan-9: #05a2c2;
  --palettes-cyan-10: #0894b3;
  --palettes-cyan-11: #0c7792;
  --palettes-cyan-12: #04313c;
  --palettes-cyan-a-a1: #059bcd05;
  --palettes-cyan-a-a2: #00c6d80d;
  --palettes-cyan-a-a3: #02c0d518;
  --palettes-cyan-a-a4: #00b1c427;
  --palettes-cyan-a-a5: #01a4ba3b;
  --palettes-cyan-a-a6: #019cb455;
  --palettes-cyan-a-a7: #0097b27b;
  --palettes-cyan-a-a8: #00a3c0c2;
  --palettes-cyan-a-a9: #00a1c1fa;
  --palettes-cyan-a-a10: #0090b0f7;
  --palettes-cyan-a-a11: #00718df3;
  --palettes-cyan-a-a12: #002d38fa;
  --palettes-cyan-dark-1: #07191d;
  --palettes-cyan-dark-2: #061e24;
  --palettes-cyan-dark-3: #072830;
  --palettes-cyan-dark-4: #07303b;
  --palettes-cyan-dark-5: #073844;
  --palettes-cyan-dark-6: #064150;
  --palettes-cyan-dark-7: #045063;
  --palettes-cyan-dark-8: #00647d;
  --palettes-cyan-dark-9: #05a2c2;
  --palettes-cyan-dark-10: #00b1cc;
  --palettes-cyan-dark-11: #00c2d7;
  --palettes-cyan-dark-12: #e1f8fa;
  --palettes-cyan-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-cyan-dark-a-a2: #00bbff08;
  --palettes-cyan-dark-a-a3: #07cbfc16;
  --palettes-cyan-dark-a-a4: #07c5ff22;
  --palettes-cyan-dark-a-a5: #07cdfe2c;
  --palettes-cyan-dark-a-a6: #02c8ff3a;
  --palettes-cyan-dark-a-a7: #00ccff4f;
  --palettes-cyan-dark-a-a8: #00c8ff6c;
  --palettes-cyan-dark-a-a9: #04d5ffba;
  --palettes-cyan-dark-a-a10: #00ddffc6;
  --palettes-cyan-dark-a-a11: #00e5fed2;
  --palettes-cyan-dark-a-a12: #e6fdfff9;
  --palettes-teal-1: #fafefd;
  --palettes-teal-2: #f1fcfa;
  --palettes-teal-3: #e7f9f5;
  --palettes-teal-4: #d9f3ee;
  --palettes-teal-5: #c7ebe5;
  --palettes-teal-6: #afdfd7;
  --palettes-teal-7: #8dcec3;
  --palettes-teal-8: #53b9ab;
  --palettes-teal-9: #12a594;
  --palettes-teal-10: #0e9888;
  --palettes-teal-11: #067a6f;
  --palettes-teal-12: #10302b;
  --palettes-teal-a-a1: #05cd9b05;
  --palettes-teal-a-a2: #01c8a40e;
  --palettes-teal-a-a3: #02c09718;
  --palettes-teal-a-a4: #02af8c26;
  --palettes-teal-a-a5: #00a48938;
  --palettes-teal-a-a6: #00998050;
  --palettes-teal-a-a7: #01927a72;
  --palettes-teal-a-a8: #009783ac;
  --palettes-teal-a-a9: #009e8ced;
  --palettes-teal-a-a10: #009281f1;
  --palettes-teal-a-a11: #00776bf9;
  --palettes-teal-a-a12: #00221def;
  --palettes-teal-dark-1: #091915;
  --palettes-teal-dark-2: #04201b;
  --palettes-teal-dark-3: #062923;
  --palettes-teal-dark-4: #07312b;
  --palettes-teal-dark-5: #083932;
  --palettes-teal-dark-6: #09443c;
  --palettes-teal-dark-7: #0b544a;
  --palettes-teal-dark-8: #0c6d62;
  --palettes-teal-dark-9: #12a594;
  --palettes-teal-dark-10: #10b3a3;
  --palettes-teal-dark-11: #0ac5b3;
  --palettes-teal-dark-12: #e1faf4;
  --palettes-teal-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-teal-dark-a-a2: #00fbd508;
  --palettes-teal-dark-a-a3: #00fddc12;
  --palettes-teal-dark-a-a4: #00fde81b;
  --palettes-teal-dark-a-a5: #02fee424;
  --palettes-teal-dark-a-a6: #09ffe630;
  --palettes-teal-dark-a-a7: #11ffe342;
  --palettes-teal-dark-a-a8: #11ffe75d;
  --palettes-teal-dark-a-a9: #18ffe49b;
  --palettes-teal-dark-a-a10: #13ffe7ab;
  --palettes-teal-dark-a-a11: #0affe7bf;
  --palettes-teal-dark-a-a12: #e6fff9fa;
  --palettes-green-1: #fbfefc;
  --palettes-green-2: #f2fcf5;
  --palettes-green-3: #e9f9ee;
  --palettes-green-4: #ddf3e4;
  --palettes-green-5: #ccebd7;
  --palettes-green-6: #b4dfc4;
  --palettes-green-7: #92ceac;
  --palettes-green-8: #5bb98c;
  --palettes-green-9: #30a46c;
  --palettes-green-10: #299764;
  --palettes-green-11: #18794e;
  --palettes-green-12: #153226;
  --palettes-green-a-a1: #05c04304;
  --palettes-green-a-a2: #00c43b0d;
  --palettes-green-a-a3: #02ba3c16;
  --palettes-green-a-a4: #01a63522;
  --palettes-green-a-a5: #009b3633;
  --palettes-green-a-a6: #0193364b;
  --palettes-green-a-a7: #008c3d6d;
  --palettes-green-a-a8: #00934ca4;
  --palettes-green-a-a9: #008f4acf;
  --palettes-green-a-a10: #008346d6;
  --palettes-green-a-a11: #006b3be7;
  --palettes-green-a-a12: #002012ea;
  --palettes-green-dark-1: #0d1912;
  --palettes-green-dark-2: #0c1f17;
  --palettes-green-dark-3: #0f291e;
  --palettes-green-dark-4: #113123;
  --palettes-green-dark-5: #133929;
  --palettes-green-dark-6: #164430;
  --palettes-green-dark-7: #1b543a;
  --palettes-green-dark-8: #236e4a;
  --palettes-green-dark-9: #30a46c;
  --palettes-green-dark-10: #3cb179;
  --palettes-green-dark-11: #4cc38a;
  --palettes-green-dark-12: #e5fbeb;
  --palettes-green-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-green-dark-a-a2: #00f7ca07;
  --palettes-green-dark-a-a3: #2afebe12;
  --palettes-green-dark-a-a4: #33feb31b;
  --palettes-green-dark-a-a5: #38feb524;
  --palettes-green-dark-a-a6: #3dffb130;
  --palettes-green-dark-a-a7: #43ffad42;
  --palettes-green-dark-a-a8: #49ffaa5e;
  --palettes-green-dark-a-a9: #47ffa69a;
  --palettes-green-dark-a-a10: #54ffafa9;
  --palettes-green-dark-a-a11: #62ffb3bd;
  --palettes-green-dark-a-a12: #eafff0fa;
  --palettes-grass-1: #fbfefb;
  --palettes-grass-2: #f3fcf3;
  --palettes-grass-3: #ebf9eb;
  --palettes-grass-4: #dff3df;
  --palettes-grass-5: #ceebcf;
  --palettes-grass-6: #b7dfba;
  --palettes-grass-7: #97cf9c;
  --palettes-grass-8: #65ba75;
  --palettes-grass-9: #46a758;
  --palettes-grass-10: #3d9a50;
  --palettes-grass-11: #297c3b;
  --palettes-grass-12: #1b311e;
  --palettes-grass-a-a1: #05c00504;
  --palettes-grass-a-a2: #05c0050c;
  --palettes-grass-a-a3: #02b30214;
  --palettes-grass-a-a4: #01a00120;
  --palettes-grass-a-a5: #01970631;
  --palettes-grass-a-a6: #018e0c48;
  --palettes-grass-a-a7: #008a0c68;
  --palettes-grass-a-a8: #008d1a9a;
  --palettes-grass-a-a9: #008619b9;
  --palettes-grass-a-a10: #007a19c2;
  --palettes-grass-a-a11: #006316d6;
  --palettes-grass-a-a12: #001904e4;
  --palettes-grass-dark-1: #0d1912;
  --palettes-grass-dark-2: #0f1e13;
  --palettes-grass-dark-3: #132819;
  --palettes-grass-dark-4: #16301d;
  --palettes-grass-dark-5: #193921;
  --palettes-grass-dark-6: #1d4427;
  --palettes-grass-dark-7: #245530;
  --palettes-grass-dark-8: #2f6e3b;
  --palettes-grass-dark-9: #46a758;
  --palettes-grass-dark-10: #55b467;
  --palettes-grass-dark-11: #63c174;
  --palettes-grass-dark-12: #e5fbeb;
  --palettes-grass-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-grass-dark-a-a2: #68fc3f06;
  --palettes-grass-dark-a-a3: #68fc7b11;
  --palettes-grass-dark-a-a4: #67ff801a;
  --palettes-grass-dark-a-a5: #63fe7d24;
  --palettes-grass-dark-a-a6: #63ff8230;
  --palettes-grass-dark-a-a7: #65ff8443;
  --palettes-grass-dark-a-a8: #69ff825e;
  --palettes-grass-dark-a-a9: #69ff829e;
  --palettes-grass-dark-a-a10: #78ff91ac;
  --palettes-grass-dark-a-a11: #83ff97ba;
  --palettes-grass-dark-a-a12: #eafff0fa;
  --palettes-orange-1: #fefcfb;
  --palettes-orange-2: #fef8f4;
  --palettes-orange-3: #fff1e7;
  --palettes-orange-4: #ffe8d7;
  --palettes-orange-5: #ffdcc3;
  --palettes-orange-6: #ffcca7;
  --palettes-orange-7: #ffb381;
  --palettes-orange-8: #fa934e;
  --palettes-orange-9: #f76808;
  --palettes-orange-10: #ed5f00;
  --palettes-orange-11: #bd4b00;
  --palettes-orange-12: #451e11;
  --palettes-orange-a-a1: #c0430504;
  --palettes-orange-a-a2: #e860050b;
  --palettes-orange-a-a3: #ff6c0318;
  --palettes-orange-a-a4: #ff6f0028;
  --palettes-orange-a-a5: #ff6b013c;
  --palettes-orange-a-a6: #ff6b0158;
  --palettes-orange-a-a7: #ff66017e;
  --palettes-orange-a-a8: #f86300b1;
  --palettes-orange-a-a9: #f76300f7;
  --palettes-orange-a-a10: #ed5b00fa;
  --palettes-orange-a-a11: #bc4800fa;
  --palettes-orange-a-a12: #380e00ee;
  --palettes-orange-dark-1: #1f1206;
  --palettes-orange-dark-2: #2b1400;
  --palettes-orange-dark-3: #391a03;
  --palettes-orange-dark-4: #441f04;
  --palettes-orange-dark-5: #4f2305;
  --palettes-orange-dark-6: #5f2a06;
  --palettes-orange-dark-7: #763205;
  --palettes-orange-dark-8: #943e00;
  --palettes-orange-dark-9: #f76808;
  --palettes-orange-dark-10: #ff802b;
  --palettes-orange-dark-11: #ff8b3e;
  --palettes-orange-dark-12: #feeadd;
  --palettes-orange-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-orange-dark-a-a2: #fd37000e;
  --palettes-orange-dark-a-a3: #fd54001e;
  --palettes-orange-dark-a-a4: #fe61002a;
  --palettes-orange-dark-a-a5: #fe620137;
  --palettes-orange-dark-a-a6: #ff650649;
  --palettes-orange-dark-a-a7: #ff640363;
  --palettes-orange-dark-a-a8: #fe660085;
  --palettes-orange-dark-a-a9: #ff6b08f6;
  --palettes-orange-dark-a-a10: #ff842cfa;
  --palettes-orange-dark-a-a11: #ff8c3ffa;
  --palettes-orange-dark-a-a12: #ffeee1fa;
  --palettes-brown-1: #fefdfc;
  --palettes-brown-2: #fcf9f6;
  --palettes-brown-3: #f8f1ea;
  --palettes-brown-4: #f4e9dd;
  --palettes-brown-5: #efddcc;
  --palettes-brown-6: #e8cdb5;
  --palettes-brown-7: #ddb896;
  --palettes-brown-8: #d09e72;
  --palettes-brown-9: #ad7f58;
  --palettes-brown-10: #a07653;
  --palettes-brown-11: #886349;
  --palettes-brown-12: #3f2c22;
  --palettes-brown-a-a1: #ab580503;
  --palettes-brown-a-a2: #ab580509;
  --palettes-brown-a-a3: #ab560215;
  --palettes-brown-a-a4: #ad5a0122;
  --palettes-brown-a-a5: #af550033;
  --palettes-brown-a-a6: #b052014a;
  --palettes-brown-a-a7: #ac530069;
  --palettes-brown-a-a8: #aa4f008d;
  --palettes-brown-a-a9: #823d00a7;
  --palettes-brown-a-a10: #723300ac;
  --palettes-brown-a-a11: #582500b6;
  --palettes-brown-a-a12: #220c00dd;
  --palettes-brown-dark-1: #1a1513;
  --palettes-brown-dark-2: #221813;
  --palettes-brown-dark-3: #2e201a;
  --palettes-brown-dark-4: #36261e;
  --palettes-brown-dark-5: #3e2d22;
  --palettes-brown-dark-6: #493528;
  --palettes-brown-dark-7: #5c4332;
  --palettes-brown-dark-8: #775940;
  --palettes-brown-dark-9: #ad7f58;
  --palettes-brown-dark-10: #bd8b60;
  --palettes-brown-dark-11: #dba16e;
  --palettes-brown-dark-12: #faf0e5;
  --palettes-brown-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --palettes-brown-dark-a-a2: #ff691309;
  --palettes-brown-dark-a-a3: #fd916316;
  --palettes-brown-dark-a-a4: #fe9f6c1f;
  --palettes-brown-dark-a-a5: #feac7228;
  --palettes-brown-dark-a-a6: #feb07935;
  --palettes-brown-dark-a-a7: #feb47e4a;
  --palettes-brown-dark-a-a8: #febc8268;
  --palettes-brown-dark-a-a9: #ffba7ea4;
  --palettes-brown-dark-a-a10: #ffbb7fb6;
  --palettes-brown-dark-a-a11: #ffbb7fd7;
  --palettes-brown-dark-a-a12: #fff5e9fa;
  --bright-color-sky-1: #f9feff;
  --bright-color-sky-2: #f1fcff;
  --bright-color-sky-3: #e4f9ff;
  --bright-color-sky-4: #d5f4fd;
  --bright-color-sky-5: #c1ecf9;
  --bright-color-sky-6: #a4dff1;
  --bright-color-sky-7: #79cfea;
  --bright-color-sky-8: #2ebde5;
  --bright-color-sky-9: #68ddfd;
  --bright-color-sky-10: #5fd4f4;
  --bright-color-sky-11: #0078a1;
  --bright-color-sky-12: #003242;
  --bright-color-sky-a-a1: #05d5ff06;
  --bright-color-sky-a-a2: #01c8ff0e;
  --bright-color-sky-a-a3: #01c8ff1b;
  --bright-color-sky-a-a4: #00baf32a;
  --bright-color-sky-a-a5: #01b1e73e;
  --bright-color-sky-a-a6: #00a5d85b;
  --bright-color-sky-a-a7: #00a5d786;
  --bright-color-sky-a-a8: #00afdfd1;
  --bright-color-sky-a-a9: #00c5fc97;
  --bright-color-sky-a-a10: #00baeda0;
  --bright-color-sky-a-a11: #00759ffa;
  --bright-color-sky-a-a12: #002e3efa;
  --bright-color-sky-dark-1: #0c1820;
  --bright-color-sky-dark-2: #071d2a;
  --bright-color-sky-dark-3: #082636;
  --bright-color-sky-dark-4: #082d41;
  --bright-color-sky-dark-5: #08354c;
  --bright-color-sky-dark-6: #083e59;
  --bright-color-sky-dark-7: #064b6b;
  --bright-color-sky-dark-8: #005d85;
  --bright-color-sky-dark-9: #68ddfd;
  --bright-color-sky-dark-10: #8ae8ff;
  --bright-color-sky-dark-11: #2ec8ee;
  --bright-color-sky-dark-12: #eaf8ff;
  --bright-color-sky-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --bright-color-sky-dark-a-a2: #0087fe0b;
  --bright-color-sky-dark-a-a3: #00a5fe19;
  --bright-color-sky-dark-a-a4: #00a6ff26;
  --bright-color-sky-dark-a-a5: #00a9fe32;
  --bright-color-sky-dark-a-a6: #00aefe41;
  --bright-color-sky-dark-a-a7: #00aefe56;
  --bright-color-sky-dark-a-a8: #00aeff74;
  --bright-color-sky-dark-a-a9: #6ae1fffa;
  --bright-color-sky-dark-a-a10: #8decfffa;
  --bright-color-sky-dark-a-a11: #31d6ffec;
  --bright-color-sky-dark-a-a12: #effdfffa;
  --bright-color-mint-1: #f9fefd;
  --bright-color-mint-2: #effefa;
  --bright-color-mint-3: #e1fbf4;
  --bright-color-mint-4: #d2f7ed;
  --bright-color-mint-5: #c0efe3;
  --bright-color-mint-6: #a5e4d4;
  --bright-color-mint-7: #7dd4c0;
  --bright-color-mint-8: #40c4aa;
  --bright-color-mint-9: #70e1c8;
  --bright-color-mint-10: #69d9c1;
  --bright-color-mint-11: #147d6f;
  --bright-color-mint-12: #09342e;
  --bright-color-mint-a-a1: #05d5ac06;
  --bright-color-mint-a-a2: #01efb010;
  --bright-color-mint-a-a3: #01dda21e;
  --bright-color-mint-a-a4: #01d29a2d;
  --bright-color-mint-a-a5: #01be8f3f;
  --bright-color-mint-a-a6: #00b3865a;
  --bright-color-mint-a-a7: #00ab8382;
  --bright-color-mint-a-a8: #00b08dbf;
  --bright-color-mint-a-a9: #00c99e8f;
  --bright-color-mint-a-a10: #00be9596;
  --bright-color-mint-a-a11: #007263eb;
  --bright-color-mint-a-a12: #002d27f6;
  --bright-color-mint-dark-1: #081917;
  --bright-color-mint-dark-2: #05201e;
  --bright-color-mint-dark-3: #052926;
  --bright-color-mint-dark-4: #04312c;
  --bright-color-mint-dark-5: #033a34;
  --bright-color-mint-dark-6: #01453d;
  --bright-color-mint-dark-7: #00564a;
  --bright-color-mint-dark-8: #006d5b;
  --bright-color-mint-dark-9: #70e1c8;
  --bright-color-mint-dark-10: #95f3d9;
  --bright-color-mint-dark-11: #25d0ab;
  --bright-color-mint-dark-12: #e7fcf7;
  --bright-color-mint-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --bright-color-mint-dark-a-a2: #00fbfb08;
  --bright-color-mint-dark-a-a3: #00fded12;
  --bright-color-mint-dark-a-a4: #00fde01b;
  --bright-color-mint-dark-a-a5: #00fee025;
  --bright-color-mint-dark-a-a6: #00fedc31;
  --bright-color-mint-dark-a-a7: #00fed844;
  --bright-color-mint-dark-a-a8: #00fed05d;
  --bright-color-mint-dark-a-a9: #80ffe3de;
  --bright-color-mint-dark-a-a10: #9dffe3f2;
  --bright-color-mint-dark-a-a11: #2cffd1cb;
  --bright-color-mint-dark-a-a12: #ecfffbfa;
  --bright-color-lime-1: #fcfdfa;
  --bright-color-lime-2: #f7fcf0;
  --bright-color-lime-3: #eefadc;
  --bright-color-lime-4: #e4f7c7;
  --bright-color-lime-5: #d7f2b0;
  --bright-color-lime-6: #c9e894;
  --bright-color-lime-7: #b1d16a;
  --bright-color-lime-8: #94ba2c;
  --bright-color-lime-9: #99d52a;
  --bright-color-lime-10: #93c926;
  --bright-color-lime-11: #5d770d;
  --bright-color-lime-12: #263209;
  --bright-color-lime-a-a1: #699b0505;
  --bright-color-lime-a-a2: #77cc010f;
  --bright-color-lime-a-a3: #84db0123;
  --bright-color-lime-a-a4: #83db0038;
  --bright-color-lime-a-a5: #7cd5004f;
  --bright-color-lime-a-a6: #7fc8006b;
  --bright-color-lime-a-a7: #78b00095;
  --bright-color-lime-a-a8: #7eac00d3;
  --bright-color-lime-a-a9: #85cd00d5;
  --bright-color-lime-a-a10: #80c000d9;
  --bright-color-lime-a-a11: #547000f2;
  --bright-color-lime-a-a12: #1e2b00f6;
  --bright-color-lime-dark-1: #141807;
  --bright-color-lime-dark-2: #181d08;
  --bright-color-lime-dark-3: #1e260d;
  --bright-color-lime-dark-4: #252e0f;
  --bright-color-lime-dark-5: #2b3711;
  --bright-color-lime-dark-6: #344213;
  --bright-color-lime-dark-7: #415215;
  --bright-color-lime-dark-8: #536716;
  --bright-color-lime-dark-9: #99d52a;
  --bright-color-lime-dark-10: #c4f042;
  --bright-color-lime-dark-11: #87be22;
  --bright-color-lime-dark-12: #effbdd;
  --bright-color-lime-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --bright-color-lime-dark-a-a2: #cafb3506;
  --bright-color-lime-dark-a-a3: #b8fd6a10;
  --bright-color-lime-dark-a-a4: #c4fd5b18;
  --bright-color-lime-dark-a-a5: #befe5122;
  --bright-color-lime-dark-a-a6: #c5ff492e;
  --bright-color-lime-dark-a-a7: #c8fe3f40;
  --bright-color-lime-dark-a-a8: #ccff3357;
  --bright-color-lime-dark-a-a9: #b7ff32d1;
  --bright-color-lime-dark-a-a10: #d1ff46ef;
  --bright-color-lime-dark-a-a11: #b5ff2cb7;
  --bright-color-lime-dark-a-a12: #f4ffe1fa;
  --bright-color-yellow-1: #fdfdf9;
  --bright-color-yellow-2: #fffce8;
  --bright-color-yellow-3: #fffbd1;
  --bright-color-yellow-4: #fff8bb;
  --bright-color-yellow-5: #fef2a4;
  --bright-color-yellow-6: #f9e68c;
  --bright-color-yellow-7: #efd36c;
  --bright-color-yellow-8: #ebbc00;
  --bright-color-yellow-9: #f5d90a;
  --bright-color-yellow-10: #f7ce00;
  --bright-color-yellow-11: #946800;
  --bright-color-yellow-12: #35290f;
  --bright-color-yellow-a-a1: #abab0506;
  --bright-color-yellow-a-a2: #ffdd0217;
  --bright-color-yellow-a-a3: #ffea012e;
  --bright-color-yellow-a-a4: #ffe60144;
  --bright-color-yellow-a-a5: #fcdb005b;
  --bright-color-yellow-a-a6: #f2c90073;
  --bright-color-yellow-a-a7: #e3b20093;
  --bright-color-yellow-a-a8: #ebbc00fa;
  --bright-color-yellow-a-a9: #f5d800f5;
  --bright-color-yellow-a-a10: #f7ce00fa;
  --bright-color-yellow-a-a11: #926600fa;
  --bright-color-yellow-a-a12: #291c00f0;
  --bright-color-yellow-dark-1: #1c1500;
  --bright-color-yellow-dark-2: #221a00;
  --bright-color-yellow-dark-3: #2c2100;
  --bright-color-yellow-dark-4: #352800;
  --bright-color-yellow-dark-5: #3e3000;
  --bright-color-yellow-dark-6: #493c00;
  --bright-color-yellow-dark-7: #594a05;
  --bright-color-yellow-dark-8: #705e00;
  --bright-color-yellow-dark-9: #f5d90a;
  --bright-color-yellow-dark-10: #ffef5c;
  --bright-color-yellow-dark-11: #f0c000;
  --bright-color-yellow-dark-12: #fffad1;
  --bright-color-yellow-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --bright-color-yellow-dark-a-a2: #facd0007;
  --bright-color-yellow-dark-a-a3: #fdbe0012;
  --bright-color-yellow-dark-a-a4: #fdc2001c;
  --bright-color-yellow-dark-a-a5: #fec70026;
  --bright-color-yellow-dark-a-a6: #fed80033;
  --bright-color-yellow-dark-a-a7: #ffdb1345;
  --bright-color-yellow-dark-a-a8: #fed8005f;
  --bright-color-yellow-dark-a-a9: #ffe20af4;
  --bright-color-yellow-dark-a-a10: #fff45efa;
  --bright-color-yellow-dark-a-a11: #ffcc00ee;
  --bright-color-yellow-dark-a-a12: #ffffd5fa;
  --bright-color-amber-1: #fefdfb;
  --bright-color-amber-2: #fff9ed;
  --bright-color-amber-3: #fff4d5;
  --bright-color-amber-4: #ffecbc;
  --bright-color-amber-5: #ffe3a2;
  --bright-color-amber-6: #ffd386;
  --bright-color-amber-7: #f3ba63;
  --bright-color-amber-8: #ee9d2b;
  --bright-color-amber-9: #ffb224;
  --bright-color-amber-10: #ffa01c;
  --bright-color-amber-11: #ad5700;
  --bright-color-amber-12: #4e2009;
  --bright-color-amber-a-a1: #c0820504;
  --bright-color-amber-a-a2: #ffab0212;
  --bright-color-amber-a-a3: #ffbb012a;
  --bright-color-amber-a-a4: #ffb70043;
  --bright-color-amber-a-a5: #ffb3005d;
  --bright-color-amber-a-a6: #ffa20179;
  --bright-color-amber-a-a7: #ec8d009c;
  --bright-color-amber-a-a8: #ea8900d4;
  --bright-color-amber-a-a9: #ffa600db;
  --bright-color-amber-a-a10: #ff9500e3;
  --bright-color-amber-a-a11: #ab5300fa;
  --bright-color-amber-a-a12: #481800f6;
  --bright-color-amber-dark-1: #1f1300;
  --bright-color-amber-dark-2: #271700;
  --bright-color-amber-dark-3: #341c00;
  --bright-color-amber-dark-4: #3f2200;
  --bright-color-amber-dark-5: #4a2900;
  --bright-color-amber-dark-6: #573300;
  --bright-color-amber-dark-7: #693f05;
  --bright-color-amber-dark-8: #824e00;
  --bright-color-amber-dark-9: #ffb224;
  --bright-color-amber-dark-10: #ffcb47;
  --bright-color-amber-dark-11: #f1a10d;
  --bright-color-amber-dark-12: #fef3dd;
  --bright-color-amber-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --bright-color-amber-dark-a-a2: #fd830009;
  --bright-color-amber-dark-a-a3: #fe730018;
  --bright-color-amber-dark-a-a4: #ff7b0024;
  --bright-color-amber-dark-a-a5: #ff840031;
  --bright-color-amber-dark-a-a6: #ff950040;
  --bright-color-amber-dark-a-a7: #ff970f54;
  --bright-color-amber-dark-a-a8: #ff990071;
  --bright-color-amber-dark-a-a9: #ffb625fa;
  --bright-color-amber-dark-a-a10: #ffce48fa;
  --bright-color-amber-dark-a-a11: #ffab0eef;
  --bright-color-amber-dark-a-a12: #fff8e1fa;
  --grays-gray-1: #fcfcfc;
  --grays-gray-2: #f8f8f8;
  --grays-gray-3: #f3f3f3;
  --grays-gray-4: #ededed;
  --grays-gray-5: #e8e8e8;
  --grays-gray-6: #e2e2e2;
  --grays-gray-7: #dbdbdb;
  --grays-gray-8: #c7c7c7;
  --grays-gray-9: #8f8f8f;
  --grays-gray-10: #858585;
  --grays-gray-11: #6f6f6f;
  --grays-gray-12: #171717;
  --grays-gray-a-a1: #00000003;
  --grays-gray-a-a2: #00000007;
  --grays-gray-a-a3: #0000000c;
  --grays-gray-a-a4: #00000012;
  --grays-gray-a-a5: #00000017;
  --grays-gray-a-a6: #0000001d;
  --grays-gray-a-a7: #00000024;
  --grays-gray-a-a8: #00000038;
  --grays-gray-a-a9: #00000070;
  --grays-gray-a-a10: #0000007a;
  --grays-gray-a-a11: #00000090;
  --grays-gray-a-a12: #000000e8;
  --grays-gray-dark-1: #161616;
  --grays-gray-dark-2: #1c1c1c;
  --grays-gray-dark-3: #232323;
  --grays-gray-dark-4: #282828;
  --grays-gray-dark-5: #2e2e2e;
  --grays-gray-dark-6: #343434;
  --grays-gray-dark-7: #3e3e3e;
  --grays-gray-dark-8: #505050;
  --grays-gray-dark-9: #707070;
  --grays-gray-dark-10: #7e7e7e;
  --grays-gray-dark-11: #a0a0a0;
  --grays-gray-dark-12: #ededed;
  --grays-gray-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --grays-gray-dark-a-a2: #ffffff07;
  --grays-gray-dark-a-a3: #ffffff0e;
  --grays-gray-dark-a-a4: #ffffff14;
  --grays-gray-dark-a-a5: #ffffff1a;
  --grays-gray-dark-a-a6: #ffffff21;
  --grays-gray-dark-a-a7: #ffffff2c;
  --grays-gray-dark-a-a8: #ffffff3f;
  --grays-gray-dark-a-a9: #ffffff62;
  --grays-gray-dark-a-a10: #ffffff72;
  --grays-gray-dark-a-a11: #ffffff97;
  --grays-gray-dark-a-a12: #ffffffeb;
  --grays-mauve-1: #fdfcfd;
  --grays-mauve-2: #f9f8f9;
  --grays-mauve-3: #f4f2f4;
  --grays-mauve-4: #eeedef;
  --grays-mauve-5: #e9e8ea;
  --grays-mauve-6: #e4e2e4;
  --grays-mauve-7: #dcdbdd;
  --grays-mauve-8: #c8c7cb;
  --grays-mauve-9: #908e96;
  --grays-mauve-10: #86848d;
  --grays-mauve-11: #6f6e77;
  --grays-mauve-12: #1a1523;
  --grays-mauve-a-a1: #58055803;
  --grays-mauve-a-a2: #29052907;
  --grays-mauve-a-a3: #2700270d;
  --grays-mauve-a-a4: #10011e12;
  --grays-mauve-a-a5: #0d021817;
  --grays-mauve-a-a6: #1201121d;
  --grays-mauve-a-a7: #08010f24;
  --grays-mauve-a-a8: #05001238;
  --grays-mauve-a-a9: #05001271;
  --grays-mauve-a-a10: #0400137b;
  --grays-mauve-a-a11: #02001091;
  --grays-mauve-a-a12: #05000fea;
  --grays-mauve-dark-1: #161618;
  --grays-mauve-dark-2: #1c1c1f;
  --grays-mauve-dark-3: #232326;
  --grays-mauve-dark-4: #28282c;
  --grays-mauve-dark-5: #2e2e32;
  --grays-mauve-dark-6: #34343a;
  --grays-mauve-dark-7: #3e3e44;
  --grays-mauve-dark-8: #504f57;
  --grays-mauve-dark-9: #706f78;
  --grays-mauve-dark-10: #7e7d86;
  --grays-mauve-dark-11: #a09fa6;
  --grays-mauve-dark-12: #ededef;
  --grays-mauve-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --grays-mauve-dark-a-a2: #d7d7fa08;
  --grays-mauve-dark-a-a3: #ebebfe10;
  --grays-mauve-dark-a-a4: #e5e5fe16;
  --grays-mauve-dark-a-a5: #eaeafe1d;
  --grays-mauve-dark-a-a6: #e1e1fe26;
  --grays-mauve-dark-a-a7: #e8e8fe31;
  --grays-mauve-dark-a-a8: #eae7ff46;
  --grays-mauve-dark-a-a9: #eeecff6a;
  --grays-mauve-dark-a-a10: #f0eeff7a;
  --grays-mauve-dark-a-a11: #f7f5ff9d;
  --grays-mauve-dark-a-a12: #fdfdffed;
  --grays-slate-1: #fbfcfd;
  --grays-slate-2: #f8f9fa;
  --grays-slate-3: #f1f3f5;
  --grays-slate-4: #eceef0;
  --grays-slate-5: #e6e8eb;
  --grays-slate-6: #dfe3e6;
  --grays-slate-7: #d7dbdf;
  --grays-slate-8: #c1c8cd;
  --grays-slate-9: #889096;
  --grays-slate-10: #7e868c;
  --grays-slate-11: #687076;
  --grays-slate-12: #11181c;
  --grays-slate-a-a1: #05448204;
  --grays-slate-a-a2: #05294d07;
  --grays-slate-a-a3: #0025490e;
  --grays-slate-a-a4: #021c3713;
  --grays-slate-a-a5: #02173519;
  --grays-slate-a-a6: #01213920;
  --grays-slate-a-a7: #001a3328;
  --grays-slate-a-a8: #011e323e;
  --grays-slate-a-a9: #00111e77;
  --grays-slate-a-a10: #00101b81;
  --grays-slate-a-a11: #000e1897;
  --grays-slate-a-a12: #00080cee;
  --grays-slate-dark-1: #151718;
  --grays-slate-dark-2: #1a1d1e;
  --grays-slate-dark-3: #202425;
  --grays-slate-dark-4: #26292b;
  --grays-slate-dark-5: #2b2f31;
  --grays-slate-dark-6: #313538;
  --grays-slate-dark-7: #3a3f42;
  --grays-slate-dark-8: #4c5155;
  --grays-slate-dark-9: #697177;
  --grays-slate-dark-10: #787f85;
  --grays-slate-dark-11: #9ba1a6;
  --grays-slate-dark-12: #ecedee;
  --grays-slate-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --grays-slate-dark-a-a2: #d5feff07;
  --grays-slate-dark-a-a3: #d6fbfc0f;
  --grays-slate-dark-a-a4: #e2f0fd15;
  --grays-slate-dark-a-a5: #dff3fd1c;
  --grays-slate-dark-a-a6: #dfeffe23;
  --grays-slate-dark-a-a7: #e0f3ff2e;
  --grays-slate-dark-a-a8: #e5f2fe44;
  --grays-slate-dark-a-a9: #e1f1ff69;
  --grays-slate-dark-a-a10: #e7f3ff78;
  --grays-slate-dark-a-a11: #eff7ff9d;
  --grays-slate-dark-a-a12: #fdfeffec;
  --grays-sage-1: #fbfdfc;
  --grays-sage-2: #f8faf9;
  --grays-sage-3: #f1f4f3;
  --grays-sage-4: #ecefed;
  --grays-sage-5: #e6e9e8;
  --grays-sage-6: #dfe4e2;
  --grays-sage-7: #d7dcda;
  --grays-sage-8: #c2c9c6;
  --grays-sage-9: #8a918e;
  --grays-sage-10: #808784;
  --grays-sage-11: #6a716e;
  --grays-sage-12: #111c18;
  --grays-sage-a-a1: #05824404;
  --grays-sage-a-a2: #054d2907;
  --grays-sage-a-a3: #0037250e;
  --grays-sage-a-a4: #022a0f13;
  --grays-sage-a-a5: #02211719;
  --grays-sage-a-a6: #01291920;
  --grays-sage-a-a7: #00201328;
  --grays-sage-a-a8: #011e113d;
  --grays-sage-a-a9: #000f0975;
  --grays-sage-a-a10: #000e087f;
  --grays-sage-a-a11: #000c0795;
  --grays-sage-a-a12: #000c08ee;
  --grays-sage-dark-1: #141716;
  --grays-sage-dark-2: #191d1b;
  --grays-sage-dark-3: #1f2421;
  --grays-sage-dark-4: #252a27;
  --grays-sage-dark-5: #2a2f2c;
  --grays-sage-dark-6: #303633;
  --grays-sage-dark-7: #393f3c;
  --grays-sage-dark-8: #4a524e;
  --grays-sage-dark-9: #66736d;
  --grays-sage-dark-10: #75817b;
  --grays-sage-dark-11: #99a29e;
  --grays-sage-dark-12: #eceeed;
  --grays-sage-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --grays-sage-dark-a-a2: #d4fed607;
  --grays-sage-dark-a-a3: #d5fbd70f;
  --grays-sage-dark-a-a4: #e3ffe515;
  --grays-sage-dark-a-a5: #e8feea1b;
  --grays-sage-dark-a-a6: #e5feee22;
  --grays-sage-dark-a-a7: #eafef22c;
  --grays-sage-dark-a-a8: #e8fef241;
  --grays-sage-dark-a-a9: #e3fff165;
  --grays-sage-dark-a-a10: #e8fff375;
  --grays-sage-dark-a-a11: #f2fff999;
  --grays-sage-dark-a-a12: #fdfffeec;
  --grays-olive-1: #fcfdfc;
  --grays-olive-2: #f8faf8;
  --grays-olive-3: #f2f4f2;
  --grays-olive-4: #ecefec;
  --grays-olive-5: #e6e9e6;
  --grays-olive-6: #e0e4e0;
  --grays-olive-7: #d8dcd8;
  --grays-olive-8: #c3c8c2;
  --grays-olive-9: #8b918a;
  --grays-olive-10: #818780;
  --grays-olive-11: #6b716a;
  --grays-olive-12: #141e12;
  --grays-olive-a-a1: #05580503;
  --grays-olive-a-a2: #054d0507;
  --grays-olive-a-a3: #0027000d;
  --grays-olive-a-a4: #022a0213;
  --grays-olive-a-a5: #02210219;
  --grays-olive-a-a6: #0122011f;
  --grays-olive-a-a7: #001a0027;
  --grays-olive-a-a8: #051a013d;
  --grays-olive-a-a9: #020f0075;
  --grays-olive-a-a10: #030e007f;
  --grays-olive-a-a11: #020c0095;
  --grays-olive-a-a12: #020d00ed;
  --grays-olive-dark-1: #151715;
  --grays-olive-dark-2: #1a1d19;
  --grays-olive-dark-3: #20241f;
  --grays-olive-dark-4: #262925;
  --grays-olive-dark-5: #2b2f2a;
  --grays-olive-dark-6: #313530;
  --grays-olive-dark-7: #3b3f3a;
  --grays-olive-dark-8: #4c514b;
  --grays-olive-dark-9: #687366;
  --grays-olive-dark-10: #778175;
  --grays-olive-dark-11: #9aa299;
  --grays-olive-dark-12: #eceeec;
  --grays-olive-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --grays-olive-dark-a-a2: #d5feaf07;
  --grays-olive-dark-a-a3: #d6fbc40f;
  --grays-olive-dark-a-a4: #effee214;
  --grays-olive-dark-a-a5: #e9fedf1b;
  --grays-olive-dark-a-a6: #ecfee521;
  --grays-olive-dark-a-a7: #f1feeb2c;
  --grays-olive-dark-a-a8: #f1ffed40;
  --grays-olive-dark-a-a9: #e6ffe165;
  --grays-olive-dark-a-a10: #ebffe775;
  --grays-olive-dark-a-a11: #f3fff199;
  --grays-olive-dark-a-a12: #fdfffdec;
  --grays-sand-1: #fdfdfc;
  --grays-sand-2: #f9f9f8;
  --grays-sand-3: #f3f3f2;
  --grays-sand-4: #eeeeec;
  --grays-sand-5: #e9e9e6;
  --grays-sand-6: #e3e3e0;
  --grays-sand-7: #dbdbd7;
  --grays-sand-8: #c8c7c1;
  --grays-sand-9: #90908c;
  --grays-sand-10: #868682;
  --grays-sand-11: #706f6c;
  --grays-sand-12: #1b1b18;
  --grays-sand-a-a1: #58580503;
  --grays-sand-a-a2: #29290507;
  --grays-sand-a-a3: #1414000d;
  --grays-sand-a-a4: #1c1c0213;
  --grays-sand-a-a5: #21210219;
  --grays-sand-a-a6: #1a1a011f;
  --grays-sand-a-a7: #1a1a0028;
  --grays-sand-a-a8: #1e19013e;
  --grays-sand-a-a9: #09090073;
  --grays-sand-a-a10: #0909007d;
  --grays-sand-a-a11: #07060093;
  --grays-sand-a-a12: #040400e7;
  --grays-sand-dark-1: #161615;
  --grays-sand-dark-2: #1c1c1a;
  --grays-sand-dark-3: #232320;
  --grays-sand-dark-4: #282826;
  --grays-sand-dark-5: #2e2e2b;
  --grays-sand-dark-6: #353431;
  --grays-sand-dark-7: #3e3e3a;
  --grays-sand-dark-8: #51504b;
  --grays-sand-dark-9: #717069;
  --grays-sand-dark-10: #7f7e77;
  --grays-sand-dark-11: #a1a09a;
  --grays-sand-dark-12: #ededec;
  --grays-sand-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --grays-sand-dark-a-a2: #fdfdd507;
  --grays-sand-dark-a-a3: #fefeda0e;
  --grays-sand-dark-a-a4: #fdfdef14;
  --grays-sand-dark-a-a5: #fdfde91b;
  --grays-sand-dark-a-a6: #fdf6e622;
  --grays-sand-dark-a-a7: #ffffec2c;
  --grays-sand-dark-a-a8: #fefbea41;
  --grays-sand-dark-a-a9: #fffcec64;
  --grays-sand-dark-a-a10: #fffdee73;
  --grays-sand-dark-a-a11: #fffdf498;
  --grays-sand-dark-a-a12: #fffffeeb;
  --metal-gold-1: #fdfdfc;
  --metal-gold-2: #fbf9f2;
  --metal-gold-3: #f5f2e9;
  --metal-gold-4: #eeeadd;
  --metal-gold-5: #e5dfd0;
  --metal-gold-6: #dad1bd;
  --metal-gold-7: #cbbda4;
  --metal-gold-8: #b8a383;
  --metal-gold-9: #978365;
  --metal-gold-10: #8c795d;
  --metal-gold-11: #776750;
  --metal-gold-12: #3b352b;
  --metal-gold-a-a1: #58580503;
  --metal-gold-a-a2: #b08a000d;
  --metal-gold-a-a3: #8c6a0216;
  --metal-gold-a-a4: #80630122;
  --metal-gold-a-a5: #7252012f;
  --metal-gold-a-a6: #704d0042;
  --metal-gold-a-a7: #6e45005b;
  --metal-gold-a-a8: #6d42007c;
  --metal-gold-a-a9: #5332009a;
  --metal-gold-a-a10: #4a2d00a2;
  --metal-gold-a-a11: #392100af;
  --metal-gold-a-a12: #130c00d4;
  --metal-gold-dark-1: #171613;
  --metal-gold-dark-2: #1c1a15;
  --metal-gold-dark-3: #26231c;
  --metal-gold-dark-4: #2e2a21;
  --metal-gold-dark-5: #353026;
  --metal-gold-dark-6: #3e382c;
  --metal-gold-dark-7: #504737;
  --metal-gold-dark-8: #6b5d48;
  --metal-gold-dark-9: #978365;
  --metal-gold-dark-10: #a59071;
  --metal-gold-dark-11: #bfa888;
  --metal-gold-dark-12: #f7f4e7;
  --metal-gold-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --metal-gold-dark-a-a2: #facb6e06;
  --metal-gold-dark-a-a3: #fede9d11;
  --metal-gold-dark-a-a4: #fdde9f1a;
  --metal-gold-dark-a-a5: #fedda521;
  --metal-gold-dark-a-a6: #fedfa72b;
  --metal-gold-dark-a-a7: #ffdda63f;
  --metal-gold-dark-a-a8: #fed9a55d;
  --metal-gold-dark-a-a9: #ffdca78d;
  --metal-gold-dark-a-a10: #ffdcac9c;
  --metal-gold-dark-a-a11: #ffe0b4b9;
  --metal-gold-dark-a-a12: #fffceef6;
  --metal-bronze-1: #fdfcfc;
  --metal-bronze-2: #fdf8f6;
  --metal-bronze-3: #f8f1ee;
  --metal-bronze-4: #f2e8e4;
  --metal-bronze-5: #eaddd7;
  --metal-bronze-6: #e0cec7;
  --metal-bronze-7: #d2bab0;
  --metal-bronze-8: #bfa094;
  --metal-bronze-9: #a18072;
  --metal-bronze-10: #977669;
  --metal-bronze-11: #846358;
  --metal-bronze-12: #43302b;
  --metal-bronze-a-a1: #58050503;
  --metal-bronze-a-a2: #c73c0509;
  --metal-bronze-a-a3: #972e0111;
  --metal-bronze-a-a4: #8426001b;
  --metal-bronze-a-a5: #79270028;
  --metal-bronze-a-a6: #72210038;
  --metal-bronze-a-a7: #6e21004f;
  --metal-bronze-a-a8: #671d006b;
  --metal-bronze-a-a9: #551a008d;
  --metal-bronze-a-a10: #4e160096;
  --metal-bronze-a-a11: #431100a7;
  --metal-bronze-a-a12: #1d0600d4;
  --metal-bronze-dark-1: #191514;
  --metal-bronze-dark-2: #1f1917;
  --metal-bronze-dark-3: #2a211f;
  --metal-bronze-dark-4: #332824;
  --metal-bronze-dark-5: #3b2e29;
  --metal-bronze-dark-6: #453530;
  --metal-bronze-dark-7: #57433c;
  --metal-bronze-dark-8: #74594e;
  --metal-bronze-dark-9: #a18072;
  --metal-bronze-dark-10: #b08c7d;
  --metal-bronze-dark-11: #cba393;
  --metal-bronze-dark-12: #f9ede7;
  --metal-bronze-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --metal-bronze-dark-a-a2: #f7aa8307;
  --metal-bronze-dark-a-a3: #ffb7a913;
  --metal-bronze-dark-a-a4: #fdbca11d;
  --metal-bronze-dark-a-a5: #ffbea226;
  --metal-bronze-dark-a-a6: #febca631;
  --metal-bronze-dark-a-a7: #ffbfa845;
  --metal-bronze-dark-a-a8: #ffc1a665;
  --metal-bronze-dark-a-a9: #ffcab397;
  --metal-bronze-dark-a-a10: #ffcab4a8;
  --metal-bronze-dark-a-a11: #ffccb8c5;
  --metal-bronze-dark-a-a12: #fff3edf8;
  --overlays-black-a-a1: #00000003;
  --overlays-black-a-a2: #00000007;
  --overlays-black-a-a3: #0000000c;
  --overlays-black-a-a4: #00000012;
  --overlays-black-a-a5: #00000017;
  --overlays-black-a-a6: #0000001d;
  --overlays-black-a-a7: #00000024;
  --overlays-black-a-a8: #00000038;
  --overlays-black-a-a9: #00000070;
  --overlays-black-a-a10: #0000007a;
  --overlays-black-a-a11: #00000090;
  --overlays-black-a-a12: #000000e8;
  --overlays-black-1: #000000;
  --overlays-white-a-a1: hsla(0, 0%, 100%, 0%);
  --overlays-white-a-a2: #ffffff03;
  --overlays-white-a-a3: #ffffff09;
  --overlays-white-a-a4: #ffffff0e;
  --overlays-white-a-a5: #ffffff16;
  --overlays-white-a-a6: #ffffff20;
  --overlays-white-a-a7: #ffffff2d;
  --overlays-white-a-a8: #ffffff3f;
  --overlays-white-a-a9: #ffffff62;
  --overlays-white-a-a10: #ffffff72;
  --overlays-white-a-a11: #ffffff97;
  --overlays-white-a-a12: #ffffffeb;
  --overlays-white-1: #ffffff;
  --overlays-gradient-cold-001: linear-gradient(90deg, #F7A9D6 0%, #858EF8 100%);
  --overlays-gradient-cold-002: linear-gradient(90deg, #6BE1BA 0%, #6E54EF 100%);
  --overlays-gradient-cold-003: linear-gradient(90deg, #E7D1FF 0%, #6F26AC 100%);
  --overlays-gradient-cold-004: linear-gradient(90deg, #E86ED0 0%, #B1E8ED 100%);
  --overlays-gradient-cold-005: linear-gradient(90deg, #29FFC6 0%, #20E3B2 100%);
  --overlays-gradient-warm-001: linear-gradient(90deg, #EC4895 0%, #F59B0D 100%);
  --overlays-gradient-warm-002: linear-gradient(90deg, #C126D0 0%, #DB2778 100%);
  --overlays-gradient-warm-003: linear-gradient(90deg, #16A085 0%, #F4D03F 100%);
  --overlays-gradient-warm-003-copy: linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);
  --overlays-gradient-warm-003-copy-copy: linear-gradient(90deg, #EA52F8 0%, #0066FF 100%);
  --overlays-gradient-config-linear-color: linear-gradient(90deg, #e5484d 0%, #f5d90a 100%);
  --overlays-gradient-config-multi-color: linear-gradient(90deg, #e5484d 0%, #DE4983 25%, #D64AB3 50%, #C04CCE 75%, #8e4ec6 100%);
  --overlays-gradient-config-overlay: linear-gradient(180deg, #11181c1a 0%, #11181c80 100%);
  --pass-thought-3: 0.03;
  --pass-thought-4: 0.04;
  --pass-thought-6: 0.06;
  --pass-thought-8: 0.08;
  --pass-thought-10: 0.1;
  --pass-thought-12: 0.12;
  --pass-thought-16: 0.16;
  --pass-thought-20: 0.2;
  --pass-thought-24: 0.24;
  --pass-thought-28: 0.28;
  --pass-thought-30: 0.3;
  --pass-thought-32: 0.32;
  --pass-thought-36: 0.36;
  --pass-thought-40: 0.4;
  --pass-thought-44: 0.44;
  --pass-thought-48: 0.48;
  --pass-thought-50: 0.5;
  --pass-thought-52: 0.52;
  --pass-thought-56: 0.56;
  --pass-thought-60: 0.6;
  --pass-thought-64: 0.64;
  --pass-thought-68: 0.68;
  --pass-thought-70: 0.7;
  --pass-thought-72: 0.72;
  --pass-thought-76: 0.76;
  --pass-thought-80: 0.8;
  --pass-thought-84: 0.84;
  --pass-thought-88: 0.88;
  --pass-thought-90: 0.9;
  --pass-thought-92: 0.92;
  --pass-thought-96: 0.96;
  --pass-thought-100: 1;
  --elevation-sm: [object Object];
  --elevation-default: [object Object],[object Object];
  --elevation-md: [object Object],[object Object];
  --elevation-lg: [object Object],[object Object];
  --elevation-xl: [object Object],[object Object];
  --elevation-2xl: [object Object];
  --elevation-inner: [object Object];
  --rounded-none: 0;
  --rounded-sm: 2;
  --rounded-default: 4;
  --rounded-lg: 8;
  --rounded-xl: 12;
  --rounded-2xl: 16;
  --rounded-3xl: 24;
  --white-space-4: 4;
  --white-space-8: 8;
  --white-space-16: 16;
  --white-space-32: 32;
  --white-space-64: 64;
  --sizing-4: 4;
  --sizing-8: 8;
  --sizing-16: 16;
  --sizing-32: 32;
  --sizing-64: 64;
  --sizing-128: 128;
  --sizing-256: 256;
  --line-height-100: 100%;
  --line-height-115: 115%;
  --line-height-120: 120%;
  --line-height-125: 125%;
  --line-height-133: 133%;
  --line-height-135: 135%;
  --line-height-138: 138%;
  --line-height-140: 140%;
  --line-height-143: 143%;
  --line-height-144: 144%;
  --line-height-145: 145%;
  --line-height-150: 150%;
  --line-height-155: 155%;
  --line-height-160: 160%;
  --line-height-200: 200%;
  --font-weight-100: Thin;
  --font-weight-200: Extra Light;
  --font-weight-300: Light;
  --font-weight-400: Regular;
  --font-weight-500: Medium;
  --font-weight-600: Semi Bold;
  --font-weight-700: Bold;
  --font-weight-800: Extra Bold;
  --font-weight-900: black;
  --font-weight-950: Extra black;
  --font-family-sans: Inter;
  --font-family-mono: JetBrains Mono;
  --font-size-4: 4;
  --font-size-6: 6;
  --font-size-8: 8;
  --font-size-10: 10;
  --font-size-11: 11;
  --font-size-12: 12;
  --font-size-13: 13;
  --font-size-14: 14;
  --font-size-15: 15;
  --font-size-16: 16;
  --font-size-17: 17;
  --font-size-18: 18;
  --font-size-19: 19;
  --font-size-20: 20;
  --font-size-22: 22;
  --font-size-24: 24;
  --font-size-26: 26;
  --font-size-28: 28;
  --font-size-30: 30;
  --font-size-32: 32;
  --font-size-36: 36;
  --font-size-38: 38;
  --font-size-40: 40;
  --font-size-42: 42;
  --font-size-44: 44;
  --font-size-48: 48;
  --font-size-50: 50;
  --font-size-54: 54;
  --font-size-64: 64;
  --font-size-66: 66;
  --font-size-68: 68;
  --font-size-80: 80;
  --font-size-90: 90;
  --font-size-110: 110;
  --font-size-122: 122;
  --font-size-176: 176;
  --border-width-0: 0;
  --border-width-1: 1;
  --border-width-2: 2;
  --border-width-4: 4;
  --border-width-8: 8;
  --text-decoration-underline: underline;
  --text-decoration-line-through: line-through;
  --text-decoration-no-underline: none;
  --font-spacing-tighter: -0.8px;
  --font-spacing-tight: -0.4px;
  --font-spacing-compact: -0.2px;
  --font-spacing-normal: 0px;
  --font-spacing-wide: 0.4px;
  --font-spacing-wider: 0.8px;
  --font-spacing-widest: 1.6px;
  --font-transform-uppercase: uppercase;
  --font-transform-lowercase: lowercase;
  --font-transform-capitalize: capitalize;
  --font-transform-normalcase: none;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-12: 12;
  --paragraph-spacing-14: 14;
  --paragraph-spacing-16: 16;
  --prim-heading-h90: [object Object];
  --prim-heading-h80: [object Object];
  --prim-heading-h70: [object Object];
  --prim-heading-h60: [object Object];
  --prim-heading-h55: [object Object];
  --prim-heading-h50: [object Object];
  --prim-heading-h40: [object Object];
  --prim-heading-h30: [object Object];
  --prim-heading-h20: [object Object];
  --prim-heading-h10: [object Object];
  --prim-ui-text-xl: [object Object];
  --prim-ui-text-lg: [object Object];
  --prim-ui-text-md: [object Object];
  --prim-ui-text-sm: [object Object];
  --prim-ui-text-xs: [object Object];
  --prim-title-xl: [object Object];
  --prim-title-lg: [object Object];
  --prim-title-md: [object Object];
  --prim-sentence-lg: [object Object];
  --prim-sentence-md: [object Object];
  --prim-sentence-sm: [object Object];
  --prim-paragraph-xl: [object Object];
  --prim-paragraph-lg: [object Object];
  --prim-paragraph-md: [object Object];
  --prim-button-lg: [object Object];
  --prim-button-md: [object Object];
  --prim-button-sm: [object Object];
  --card-default: [object Object],[object Object],[object Object];
  --card-customize: [object Object],[object Object],[object Object];
      }