.global-theme {
          --color-blue-1: #fbfdff;
  --color-blue-2: #f5faff;
  --color-blue-3: #edf6ff;
  --color-blue-4: #e1f0ff;
  --color-blue-5: #cee7fe;
  --color-blue-6: #b7d9f8;
  --color-blue-7: #96c7f2;
  --color-blue-8: #5eb0ef;
  --color-blue-9: #0091ff;
  --color-blue-10: #0081f1;
  --color-blue-11: #006adc;
  --color-blue-12: #00254d;
  --color-blue-a-a1: #0582ff04;
  --color-blue-a-a2: #0582ff0a;
  --color-blue-a-a3: #0280ff12;
  --color-blue-a-a4: #0180ff1e;
  --color-blue-a-a5: #0180ef30;
  --color-blue-a-a6: #0177e648;
  --color-blue-a-a7: #0077df69;
  --color-blue-a-a8: #0082e6a1;
  --color-blue-a-a9: #0091fffa;
  --color-blue-a-a10: #0080f1fa;
  --color-blue-a-a11: #0066dbfa;
  --color-blue-a-a12: #002149fa;
  --color-blue-dark-1: #0f1720;
  --color-blue-dark-2: #0f1b2d;
  --color-blue-dark-3: #10243e;
  --color-blue-dark-4: #102a4c;
  --color-blue-dark-5: #0f3058;
  --color-blue-dark-6: #0d3868;
  --color-blue-dark-7: #0a4481;
  --color-blue-dark-8: #0954a5;
  --color-blue-dark-9: #0091ff;
  --color-blue-dark-10: #369eff;
  --color-blue-dark-11: #52a9ff;
  --color-blue-dark-12: #eaf6ff;
  --color-blue-dark-a-a1: hsla(0, 0%, 0%, 0%);
  --color-blue-dark-a-a2: #0f5afc0f;
  --color-blue-dark-a-a3: #1677fe22;
  --color-blue-dark-a-a4: #1476fe32;
  --color-blue-dark-a-a5: #0f7bfe40;
  --color-blue-dark-a-a6: #097cff52;
  --color-blue-dark-a-a7: #047dff6f;
  --color-blue-dark-a-a8: #057eff98;
  --color-blue-dark-a-a9: #0095fffa;
  --color-blue-dark-a-a10: #37a1fffa;
  --color-blue-dark-a-a11: #53acfffa;
  --color-blue-dark-a-a12: #effbfffa;
  --white-space-4: 4;
  --white-space-8: 8;
  --white-space-16: 16;
  --white-space-32: 32;
  --white-space-64: 64;
      }