.light-theme {
          --neutral-text-default: #44403c;
  --neutral-text-weak: #78716c;
  --neutral-text-strong: #1c1917;
  --neutral-text-disabled: #d6d3d1;
  --neutral-background-default: #fafaf9;
  --neutral-background-medium: #f5f5f4;
  --neutral-background-strong: #e7e5e4;
  --neutral-background-hover: #2925241f;
  --neutral-background-active: #1c191729;
  --neutral-border-default: #d6d3d1;
  --neutral-border-strong: #a8a29e;
  --neutral-border-hover: #78716c;
  --neutral-border-active: #57534e;
  --neutral-icon-default: #57534e;
  --neutral-icon-hover: #292524;
  --success-text-default: #4d7c0f;
  --success-text-weak: #84cc16;
  --success-text-strong: #365314;
  --success-text-disabled: #bef264;
  --success-background-default: #f7fee7;
  --success-background-medium: #ecfccb;
  --success-background-strong: #d9f99d;
  --success-background-hover: #3f62121f;
  --success-background-active: #36531429;
  --success-border-default: #bef264;
  --success-border-strong: #a3e635;
  --success-border-hover: #84cc16;
  --success-border-active: #65a30d;
  --success-icon-default: #65a30d;
  --success-icon-hover: #3f6212;
  --warning-text-default: #b45309;
  --warning-text-weak: #f59e0b;
  --warning-text-strong: #78350f;
  --warning-text-disabled: #fcd34d;
  --warning-background-default: #fffbeb;
  --warning-background-medium: #fef3c7;
  --warning-background-strong: #fde68a;
  --warning-background-hover: #92400e1f;
  --warning-background-active: #78350f29;
  --warning-border-default: #fcd34d;
  --warning-border-strong: #fbbf24;
  --warning-border-hover: #f59e0b;
  --warning-border-active: #d97706;
  --warning-icon-default: #d97706;
  --warning-icon-hover: #92400e;
  --negative-text-default: #be123c;
  --negative-text-weak: #f43f5e;
  --negative-text-strong: #881337;
  --negative-text-disabled: #fda4af;
  --negative-background-default: #fff1f2;
  --negative-background-medium: #ffe4e6;
  --negative-background-strong: #fecdd3;
  --negative-background-hover: #9f12391f;
  --negative-background-active: #88133729;
  --negative-border-default: #fda4af;
  --negative-border-strong: #fb7185;
  --negative-border-hover: #f43f5e;
  --negative-border-active: #e11d48;
  --negative-icon-default: #e11d48;
  --negative-icon-hover: #9f1239;
  --info-text-default: #1d4ed8;
  --info-text-weak: #3b82f6;
  --info-text-strong: #1e3a8a;
  --info-text-disabled: #93c5fd;
  --info-background-default: #eff6ff;
  --info-background-medium: #dbeafe;
  --info-background-strong: #bfdbfe;
  --info-background-hover: #1e40af1f;
  --info-background-active: #1e3a8a29;
  --info-border-default: #93c5fd;
  --info-border-strong: #60a5fa;
  --info-border-hover: #3b82f6;
  --info-border-active: #2563eb;
  --info-icon-default: #2563eb;
  --info-icon-hover: #1e40af;
      }