.light-theme {
          --theme-neutral-bg: #fbfcfd;
  --theme-neutral-bg-subtle: #f8f9fa;
  --theme-neutral-container: #0025490e;
  --theme-neutral-container-hover: #021c3713;
  --theme-neutral-container-active: #02173519;
  --theme-neutral-selected: #021c3713;
  --theme-neutral-selected-hover: #02173519;
  --theme-neutral-selected-active: #01213920;
  --theme-neutral-border: #01213920;
  --theme-neutral-border-hover: #001a3328;
  --theme-neutral-border-active: #011e323e;
  --theme-neutral-bg-solid: #889096;
  --theme-neutral-bg-solid-hover: #7e868c;
  --theme-neutral-text: #11181c;
  --theme-neutral-text-hover: #687076;
  --theme-neutral-icon: #11181c;
  --theme-neutral-icon-hover: #687076;
  --theme-primary-bg: #fbfdff;
  --theme-primary-bg-subtle: #f5faff;
  --theme-primary-container: #0280ff12;
  --theme-primary-container-hover: #0180ff1e;
  --theme-primary-container-active: #0180ef30;
  --theme-primary-selected: #0180ff1e;
  --theme-primary-selected-hover: #0180ef30;
  --theme-primary-selected-active: #0177e648;
  --theme-primary-border: #0177e648;
  --theme-primary-border-hover: #0077df69;
  --theme-primary-border-active: #0082e6a1;
  --theme-primary-bg-solid: #0091ff;
  --theme-primary-bg-solid-hover: #0081f1;
  --theme-primary-text: #00254d;
  --theme-primary-text-hover: #006adc;
  --theme-primary-icon: #00254d;
  --theme-primary-icon-hover: #006adc;
  --theme-negative-bg: #fffcfc;
  --theme-negative-bg-subtle: #fff8f8;
  --theme-negative-container: #ff010110;
  --theme-negative-container-hover: #ff00001a;
  --theme-negative-container-active: #f2000027;
  --theme-negative-selected: #ff00001a;
  --theme-negative-selected-hover: #f2000027;
  --theme-negative-selected-active: #e4010139;
  --theme-negative-border: #e4010139;
  --theme-negative-border-hover: #d9000451;
  --theme-negative-border-active: #d100046f;
  --theme-negative-bg-solid: #e5484d;
  --theme-negative-bg-solid-hover: #dc3d43;
  --theme-negative-text: #381316;
  --theme-negative-text-hover: #cd2b31;
  --theme-negative-icon: #381316;
  --theme-negative-icon-hover: #cd2b31;
  --theme-warning-bg: #fdfdf9;
  --theme-warning-bg-subtle: #fffce8;
  --theme-warning-container: #ffea012e;
  --theme-warning-container-hover: #ffe60144;
  --theme-warning-container-active: #fcdb005b;
  --theme-warning-selected: #ffe60144;
  --theme-warning-selected-hover: #fcdb005b;
  --theme-warning-selected-active: #f2c90073;
  --theme-warning-border: #f2c90073;
  --theme-warning-border-hover: #e3b20093;
  --theme-warning-border-active: #ebbc00fa;
  --theme-warning-bg-solid: #f5d90a;
  --theme-warning-bg-solid-hover: #f7ce00;
  --theme-warning-text: #35290f;
  --theme-warning-text-hover: #946800;
  --theme-warning-icon: #35290f;
  --theme-warning-icon-hover: #946800;
  --theme-positive-bg: #fbfefc;
  --theme-positive-bg-subtle: #f2fcf5;
  --theme-positive-container: #02ba3c16;
  --theme-positive-container-hover: #01a63522;
  --theme-positive-container-active: #009b3633;
  --theme-positive-selected: #01a63522;
  --theme-positive-selected-hover: #009b3633;
  --theme-positive-selected-active: #0193364b;
  --theme-positive-border: #0193364b;
  --theme-positive-border-hover: #008c3d6d;
  --theme-positive-border-active: #00934ca4;
  --theme-positive-bg-solid: #30a46c;
  --theme-positive-bg-solid-hover: #299764;
  --theme-positive-text: #153226;
  --theme-positive-text-hover: #18794e;
  --theme-positive-icon: #153226;
  --theme-positive-icon-hover: #18794e;
  --theme-info-bg: #fbfdff;
  --theme-info-bg-subtle: #f5faff;
  --theme-info-container: #0280ff12;
  --theme-info-container-hover: #0180ff1e;
  --theme-info-container-active: #0180ef30;
  --theme-info-selected: #0180ff1e;
  --theme-info-selected-hover: #0180ef30;
  --theme-info-selected-active: #0177e648;
  --theme-info-border: #0177e648;
  --theme-info-border-hover: #0077df69;
  --theme-info-border-active: #0082e6a1;
  --theme-info-bg-solid: #0091ff;
  --theme-info-bg-solid-hover: #0081f1;
  --theme-info-text: #00254d;
  --theme-info-text-hover: #006adc;
  --theme-info-icon: #00254d;
  --theme-info-icon-hover: #006adc;
  --theme-transparent-container: hsla(0, 0%, 100%, 0%);
  --theme-inverse-text: #ffffff;
      }