.light-theme {
          --neutral-bg: #fbfcfd;
  --neutral-bg-subtle: #f8f9fa;
  --neutral-container: #0025490e;
  --neutral-container-hover: #021c3713;
  --neutral-container-active: #02173519;
  --neutral-selected: #021c3713;
  --neutral-selected-hover: #02173519;
  --neutral-selected-active: #01213920;
  --neutral-border: #dfe3e6;
  --neutral-outline: #001a3328;
  --neutral-outline-hover: #011e323e;
  --neutral-bg-solid: #889096;
  --neutral-bg-solid-hover: #7e868c;
  --neutral-text: #11181c;
  --neutral-text-hover: #687076;
  --neutral-icon: #11181c;
  --neutral-icon-hover: #687076;
  --primary-bg: #fbfdff;
  --primary-bg-subtle: #f5faff;
  --primary-container: #0280ff12;
  --primary-container-hover: #0180ff1e;
  --primary-container-active: #0180ef30;
  --primary-selected: #0180ff1e;
  --primary-selected-hover: #0180ef30;
  --primary-selected-active: #0177e648;
  --primary-border: #b7d9f8;
  --primary-outline: #0077df69;
  --primary-outline-hover: #0082e6a1;
  --primary-bg-solid: #0091ff;
  --primary-bg-solid-hover: #0081f1;
  --primary-text: #00254d;
  --primary-text-hover: #006adc;
  --primary-icon: #00254d;
  --primary-icon-hover: #006adc;
  --negative-bg: #fffcfc;
  --negative-bg-subtle: #fff8f8;
  --negative-container: #ff010110;
  --negative-container-hover: #ff00001a;
  --negative-container-active: #f2000027;
  --negative-selected: #ff00001a;
  --negative-selected-hover: #f2000027;
  --negative-selected-active: #e4010139;
  --negative-border: #f9c6c6;
  --negative-outline: #d9000451;
  --negative-outline-hover: #d100046f;
  --negative-bg-solid: #e5484d;
  --negative-bg-solid-hover: #dc3d43;
  --negative-text: #381316;
  --negative-text-hover: #cd2b31;
  --negative-icon: #381316;
  --negative-icon-hover: #cd2b31;
  --warning-bg: #fdfdf9;
  --warning-bg-subtle: #fffce8;
  --warning-container: #ffea012e;
  --warning-container-hover: #ffe60144;
  --warning-container-active: #fcdb005b;
  --warning-selected: #ffe60144;
  --warning-selected-hover: #fcdb005b;
  --warning-selected-active: #f2c90073;
  --warning-border: #f9e68c;
  --warning-outline: #e3b20093;
  --warning-outline-hover: #ebbc00fa;
  --warning-bg-solid: #f5d90a;
  --warning-bg-solid-hover: #f7ce00;
  --warning-text: #35290f;
  --warning-text-hover: #946800;
  --warning-icon: #35290f;
  --warning-icon-hover: #946800;
  --positive-bg: #fbfefc;
  --positive-bg-subtle: #f2fcf5;
  --positive-container: #02ba3c16;
  --positive-container-hover: #01a63522;
  --positive-container-active: #009b3633;
  --positive-selected: #01a63522;
  --positive-selected-hover: #009b3633;
  --positive-selected-active: #0193364b;
  --positive-border: #b4dfc4;
  --positive-outline: #008c3d6d;
  --positive-outline-hover: #00934ca4;
  --positive-bg-solid: #30a46c;
  --positive-bg-solid-hover: #299764;
  --positive-text: #153226;
  --positive-text-hover: #18794e;
  --positive-icon: #153226;
  --positive-icon-hover: #18794e;
  --info-bg: #fbfdff;
  --info-bg-subtle: #f5faff;
  --info-container: #0280ff12;
  --info-container-hover: #0180ff1e;
  --info-container-active: #0180ef30;
  --info-selected: #0180ff1e;
  --info-selected-hover: #0180ef30;
  --info-selected-active: #0177e648;
  --info-border: #b7d9f8;
  --info-outline: #0077df69;
  --info-outline-hover: #0082e6a1;
  --info-bg-solid: #0091ff;
  --info-bg-solid-hover: #0081f1;
  --info-text: #00254d;
  --info-text-hover: #006adc;
  --info-icon: #00254d;
  --info-icon-hover: #006adc;
      }